@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
@import "{}/client/styles/imports/variables.scss";
@import "{}/client/styles/imports/editable_description.scss";
@import "{}/client/styles/imports/main_modal.scss";
@import "{}/client/styles/imports/module_view.scss";
@import "{}/client/styles/imports/comments.scss";
@import "{}/client/styles/imports/buttons.scss";

// RESET ************************
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
button, textarea, input{
    outline: none;
}
a:link, a:visited{
	color: inherit;
	text-decoration: none;
}
header{
	position: relative;
}

body{
    font-size: $BODYsize;
    color: $TXT;
    font-family: $font;
	background: #f4f4f4;
}
body,html{
	padding: 0;
	margin: 0;
	min-height: 100%;
}
.#{$VESTA}-container{
	display: flex;
	height: 100%;
}
main#main-container{
	flex: 1;
}
// Gorne menu
#menu-top{
    height: 70px;
    background: #222222;
	.menu-btn-wrapper{
		display: inline-block;
	    width: 80%;
	    text-align: right;
	}
}

// LAYOUT
.#{$VESTA}-row{
	display: flex;
}

// Side-navbar
nav.#{$VESTA}-side-nav{
	flex:0 0 250px;
	background: #222;
	border-top: 1px solid #424242;
	@media(max-width:1600px){
		flex:0 0 200px;
	}

	> ul > .#{$VESTA}-nav-item:first-child > a{
		padding-top: 0;
		padding-bottom: 0;
		height: 150px;
		vertical-align: middle;
		line-height: 150px;
	}

	new-idea{
		.#{$VESTA}-btn-menu{
		margin-top: 15px !important;
		}
	}
	new-ask{
		.#{$VESTA}-btn-menu{
		margin-bottom: 15px;
		}
	}
}

.#{$VESTA}-dropdown-btn{
	position: relative;
	&:after{
		content: "";
		width: 7px;
		height: 7px;
		border: 3.5px solid transparent;
		border-top: 3.5px solid;
		position: absolute;
		right: 30px;
		top: 50%;
		margin-top: -2.5px;
	}
}

.#{$VESTA}-dropdown{
	overflow: hidden;
	background: #292929;
}

.#{$VESTA}-nav-item{
	display: block;
}

.#{$VESTA}-nav-item > a,
.#{$VESTA}-nav-item > h3{
	display: block;
	padding: 18px 50px;
	color: #999;
	font-size: 14px;
	line-height: 1em;
	cursor: pointer;
	@media(max-width:1600px){
		padding: 18px 30px;
	}
}
.#{$VESTA}-nav-item.sub-item{
	> a{
	border: none;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 0;
	}
	.#{$VESTA}-btn{
		margin-left: 43px;
		margin-top: 20px;
		background: #222;
		font-size: 11px;
		box-shadow: 0px 0px 2px;
		padding: .4em 0.7em;
	}
	&:last-of-type{
		margin-bottom: 30px;
	}
}

// Entity number
.#{$VESTA}-entity-number{
	display: inline-block;
    font-weight: 700;
    color: #a186be;
    background: #f4e9ff;
    padding: 0.1em 0.4em;
    margin-right: 0.4em;
    font-size: 0.9em;
}

// Notifications
.list-group-item{
	background: transparent;
	border: none;
	text-align: left;
	position: relative;
	.badge{
		position: absolute;
		background: $red;
		color: #222;
		top: 0;
		left: -1px;
	}
}
