@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,400&subset=latin,latin-ext);
@import "{}/client/styles/imports/variables.scss";

body{
    font-size: $BODYsize;
    color: $TXT;
    line-height: $BODYsize;
}
button, textarea, input{
    outline: none;
}
.btn{
    font-size: $PILLsize;
    &-default{
    background: #ffd34e;
    border: none;
    border-radius: 20px;
    min-width: 120px;
    }
}
#menu-top{
    height: 70px;
    background: #222222;
}