@import "{}/client/styles/imports/variables.scss";

// Obszar glowny
#main-container{
	font-size: 13px;
	.table{
		position: relative;
		margin: 50px auto 0 auto;
		width: 900px;
		th, td{
			position: relative;
			padding: 0;
			max-width: 300px;
			background: #fff;
			border-bottom: 1px solid #eee;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			&:last-child{
				color: #7B7B7B;
				font-weight: 700;
			}
			&:first-child a{
				padding-left: 90px;
			}
		}
		th{
			background: #eee !important;
			color: #ccc !important;
		}
		tr:nth-of-type(1), tr:nth-of-type(2),
		tr:nth-of-type(3), tr:nth-of-type(4), tr:nth-of-type(5){
			td a{
				padding-top: 13px;
				padding-bottom: 13px;
			}
		}
		a{
			padding: 9px 15px;
			border: none;
			text-decoration: none;
			color: inherit;
			&:focus{
				outline: none;
			}
		}
		.project-badge{
			vertical-align: middle;
			margin-right: 0.3em;
		}
		.project{
			position: relative;
			text-transform: uppercase;
			font-weight: 700;
			color: $vesta-color;
		    margin-right: 1.2em;
			&::after{
				content: "";
				display: inline-block;
				position: absolute;
				width: 10px;
				height: 10px;
				border: 5px solid transparent;
				border-left: 5px solid #ccc;
				bottom: 4px;
				margin-left: 0.6em;
			}
		}
	}
	span.module-badge {
		display: flex;
	    position: absolute;
	    width: 50px;
	    height: 100%;
	    left: 0;
	    top: 0;
		background: lighten($idea, 43%);
		justify-content: center;
		align-items: center;
		img{
			display: block;
			width: 50%;
		}
	}
}
// Project badge
.project-badge{
	display: inline-block;
	width: 1.6em; height: 1.6em;
	border-radius: 50%;
	text-align: center;
	font-size: 0.6em;
	line-height: 1.6em;
	vertical-align: bottom;
	margin-right: 0.5em; margin-bottom: 0.1em;
	color: #fff;
	background: $vesta-color;
	font-weight: 700;
	text-transform: uppercase;
}


td a {
	display: block;
	border: 1px solid white;
	padding: 16px;
}

.no-padding td{
	padding: 0px !important;
}