<div class="row">
    <section class="task-header col-xs-12 col-sm-3 col-md-2"  style="background: #f4f4f4;">
        <div>
            <div class="wrapper">
                <h4 class="label label-default">Project</h4>
                <p>{{$ctrl.task.project()}}</p>
            </div>
            <div class="wrapper">
                <h4 class="label label-default">Module</h4>
                <p>{{$ctrl.task.module}}</p>
            </div>
            <div class="wrapper">
                <h4 class="label label-default">Priority</h4>
                <select ng-model="$ctrl.task.priority" ng-options="priority for priority in $ctrl.taskPriorities.value" ng-change="$ctrl.selectListChanged('priority')">
                </select>
            </div>
            <div class="wrapper">
                <h4 class="label label-default">Type</h4>
                <select ng-model="$ctrl.task.type" ng-options="type for type in $ctrl.taskTypes.value" ng-change="$ctrl.selectListChanged('type')">
                </select>
            </div>            
            <div class="wrapper">
                <h4 class="label label-default">Reviewers</h4>
                <ul>
                    <li class="label label-primary">Mateusz Korkosz</li>
                    <li class="label label-primary">Maciej Chmiel</li>
                    <li class="label label-primary">Marcin Trybulec</li>
                </ul>
                <button class="btn btn-default">Add</button>
            </div><br>
            <div class="wrapper">
                <h4 class="label label-default">Status</h4>
                <select ng-model="$ctrl.task.status" ng-change="$ctrl.selectListChanged('status')">
                    <option ng-repeat="status in $ctrl.taskStatuses.value">{{status}}</option>
                </select>
            </div>
        </div> 
    </section>
    <section class="task-content col-xs-12 col-sm-9 col-md-6">
        <h4>{{$ctrl.task.title}}</h4>
        <div ng-bind-html="$ctrl.task.desc()" class="wrapper"></div>   
    </section>
</div>
<pill></pill>
