<div class="VST-view-container VST-task-container">

    <!-- Task header -->
    <section class="VST-view-header">
        <div class="logo-wrapper">
            <img src="/images/icon-Task.png" alt="Task main icon" />
            <h1>task</h1>
        </div>
        <header>

        </header>
    </section>

    <section class="VST-view-content">
        <!-- Task description -->
        <section class="VST-view-desc">
            <!-- Number -->
            <div class="VST-view-number">
                <span class="VST-module-id">#{{$ctrl.task.id}}</span>
                <span class="VST-module-date"><span>created at</span>  {{$ctrl.task.creationDate | date: 'dd.MM.yy'}}</span>
            </div>

            <!-- Project path -->
            <div class="VST-view-project-path">
                <h3 id="project">
                    <span class="project-badge">v</span>{{$ctrl.task.projectName()}}
                </h3>
                <h3 id="module">{{$ctrl.task.moduleName()}}</h3>
            </div>

            <header>
                <p>Title:</p>
                <h4>[{{$ctrl.task.number}}] {{$ctrl.task.title}}</h4>
            </header>
            <!-- Description wrapper -->
            <div class="VST-view-desc-wrapper">
                <div class="btn-group-desc" ng-switch="$ctrl.descriptionEdited">
                    <button type="button" name="button" class="btn-edit" ng-switch-when="false" ng-click="$ctrl.editDescription()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" name="button" class="btn-save" ng-switch-when="true" ng-click="$ctrl.saveDescription()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <!-- Description -->
                <div text-angular ng-model="$ctrl.task.description" ta-disabled="!$ctrl.descriptionEdited" class="description" ta-toolbar="[['h1','h2','h3','pre'],['bold','italics', 'underline', 'strikeThrough', 'ul', 'ol', 'clear'],['html', 'insertImage', 'insertLink']]"></div>
            </div>
            <!-- Buttons -->
            <div class="buttons">
                <!-- Button trigger modal -->
                <button type="button" class="VST-btn VST-btn-default" data-toggle="modal" data-target="#deleteTaskModal">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <!-- DELETE Modal -->
                <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Remove Task</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this task ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.removeTask()">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create New Task -->
                <new-task title="Sub-Task" 
                    parent-module="{{$ctrl.task.module}}" 
                    parent-project="{{$ctrl.task.project}}" 
                    parent-title="{{$ctrl.task.title}}" 
                    parent-sprint="$ctrl.task.sprint"
                    task-id="{{$ctrl.task._id}}" alt-id="0"
                    ng-if="$ctrl.task.status === 1 || 
                           $ctrl.task.status === 2">
                </new-task>
                <button class="btn btn-success" ng-click="$ctrl.closeTask()">
                    Close
                </button>
            </div>
        </section>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#relationModal">
            Set Relation
        </button>

        <!-- Relation Modal -->
        <div class="modal fade" id="relationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Set Relation</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Type Task Number or Title..." ng-model="$ctrl.relation.searchText" ng-model-options="{ debounce: 1000 }"
                            ng-if="!$ctrl.selectedResult">
                        <br />
                        <div class="goodPoints-box" ng-if="$ctrl.selectedResult">
                            <div class="pill">
                                <span class="glyphicon glyphicon-ok"></span> {{$ctrl.selectedResult.id}} - {{$ctrl.selectedResult.title}}
                                <button ng-click="$ctrl.cancelSearchResult()" class="glyphicon glyphicon-remove"></button>
                            </div>
                        </div>
                        <div class="list-group" ng-if="$ctrl.searchResults.length > 0 && 
                            !$ctrl.selectedResult">
                            <a class="list-group-item" ng-repeat="result in $ctrl.searchResults" style="cursor: pointer" ng-click="$ctrl.selectSearchResult(result)">
                                {{result.id}} - {{result.title}}                               
                            </a>
                        </div>
                        <br />
                        <select ng-model="$ctrl.relation.relationType" ng-options="type for type in $ctrl.relationsTypes" class="form-control" ng-disabled="!$ctrl.selectedResult">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.relation.reason = ''">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$ctrl.createRelation()">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Info box -->
        <section class="VST-view-info-box">
            <div class="wrapper">
                <h4 class="label label-default">Priority</h4>
                <select ng-model="$ctrl.task.priority" ng-options="priority for priority in $ctrl.taskPriorities.value" ng-change="$ctrl.selectListChanged('priority')">
                </select>
            </div>
            <div class="wrapper">
                <h4 class="label label-default">Type</h4>
                <select ng-model="$ctrl.task.type" ng-options="type.id as type.value for type in $ctrl.taskTypes.value" ng-change="$ctrl.selectListChanged('type')">
                </select>
            </div>
            <div class="wrapper">
                <h4 class="label label-default">Status</h4>
                <select ng-model="$ctrl.task.status" ng-change="$ctrl.selectListChanged('status')"
                    ng-options="status.id as status.value for status in $ctrl.taskStatuses.value">
                </select>
            </div>
        </section>
    </section>

    <section>
        <!-- Related -->
        <div class="VST-table-wrapper">
            <table class="table">
                <thead>
                    <tr ng-if="$ctrl.relatedTasks.length + $ctrl.relatedIdeas.length > 0">
                        <th></th>
                        <th>Relation</th>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="idea in $ctrl.relatedIdeas">
                        <td>
                            <a href="#/idea/{{idea.number}}">
                                <span class="module-badge module-badge-idea">
                                <img src="/images/icon-Idea-small.png" alt="Idea main icon" />
                            </span>
                            </a>
                        </td>
                        <td><a href="#/idea/{{idea.number}}">{{idea.relation}}</a></td>
                        <td><a href="#/idea/{{idea.number}}">{{idea.number}}</a></td>
                        <td><a href="#/idea/{{idea.number}}">{{idea.title}}</a></td>
                        <td><a href="#/idea/{{idea.number}}">{{idea.getStatusName()}}</a></td>
                    </tr>
                    <tr ng-repeat="task in $ctrl.relatedTasks">
                        <td>
                            <a href="#/task/{{task.number}}">
                                <span class="module-badge module-badge-task">
                                <img src="/images/icon-Task-small.png" alt="Task main icon" />
                            </span>
                            </a>
                        </td>
                        <td><a href="#/task/{{task.number}}">{{task.relation}}</a></td>
                        <td><a href="#/task/{{task.number}}">{{task.number}}</a></td>
                        <td><a href="#/task/{{task.number}}">{{task.title}}</a></td>
                        <td><a href="#/task/{{task.number}}">{{task.getStatusName()}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!--Comments-->
    <section class="task-content col-xs-12 col-sm-2 col-md-4">
        <textarea cols="30" rows="10" ng-model="$ctrl.comment"></textarea>
        <button class="btn btn-success" ng-click="$ctrl.addComment()">Add comment</button>

        <div ng-repeat="comment in $ctrl.comments">
            <comment comment="comment"></comment>
        </div>
    </section>
</div>