<table class="table">
    <caption class="idea-caption">Ideas</caption>
    <thead>
        <tr>
            <th>Title</th>
            <th>Project</th>
            <th>Module</th>
            <th>Created By</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="idea in $ctrl.ideas|
                orderBy: ['-creationDate']"
            ng-click="$ctrl.details(idea.number)"
            style="cursor: pointer">
            <td>{{idea.number}} - {{idea.title}}</td>
            <td>{{idea.project()}}</td>
            <td>{{idea.moduleName()}}</td>
            <td>{{idea.creator()}}</td>
            <td>{{$ctrl.moment(idea.creationDate).fromNow()}}</td>
        </tr>
    </tbody>
</table>
