<table class="table">
    <caption class="idea-caption">Ideas</caption>
    <thead>
        <tr>
            <th>Title</th>
            <th>Project</th>
            <th>Module</th>
            <th>Created By</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="idea in $ctrl.ideas"
            ng-click="$ctrl.details(idea._id)"
            style="cursor: pointer">
            <td>{{idea.title}}</td>
            <td>{{idea.projectName}}</td>
            <td>{{idea.module}}</td>
            <td>{{idea.createdBy}}</td>
            <td>{{$ctrl.moment(idea.creationDate).fromNow()}}</td>
        </tr>
    </tbody>
</table>
