<table class="table">
    <caption class="idea-caption">Ideas</caption>
    <thead>
        <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="idea in $ctrl.ideas|
                orderBy: ['-updatedAt', '-creationDate']" ng-if="idea.sprint === $ctrl.project.currentSprint">
            <td>
                <span class="module-badge module-badge-idea">
                    <img src="/images/icon-Idea-small.png" alt="Idea main icon" />
                </span>
                <a href="#/idea/{{idea.number}}">
                    <span class="project-badge" data-toggle="tooltip"
                          title="{{idea.projectName()}}">
                            {{idea.projectName()[0].toUpperCase()}}
                    </span>
                </a>
            </td>
            <td>
                <a href="#/idea/{{idea.number}}">
                    [{{idea.number}}] <span ng-if="idea.isNew" style="color: red; font-size: 0.7em; font-weight: 700;">NEW</span> {{idea.title}}
                </a>
            </td>
            <td>
                <a href="#/idea/{{idea.number}}">
                    <span class="idea-status idea-status-{{idea.getStatusName()}}">
                    {{idea.getStatusName()}}
                    </span>
                </a>
            </td>
            <td data-toggle="tooltip" title="{{idea.creator()}}">
                <a href="#/idea/{{idea.number}}">
                    {{idea.creatorShort()}}
                </a>
            </td>
            <td>
                <a href="#/idea/{{idea.number}}">
                    {{$ctrl.moment(idea.creationDate).fromNow()}}
                </a>
            </td>
        </tr>
    </tbody>
</table>
