@import "{}/client/styles/imports/variables.scss";

.#{$VESTA}-comment-creator{
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-weight: 400;
    color: #000;
    margin-bottom: 3px;
}

.#{$VESTA}-comment-addtime{
    display: inline-block;
    font-size: 11px;
    margin-left: 4px;
    color: #999;
}

.#{$VESTA}-comment-aside{
    position: absolute;
    right: 100%;
    margin-right: 15px;
    top: 0;
}

.#{$VESTA}-comment-btn-group{
    position: absolute;
    right: 0;
    top: -7px;
}

.#{$VESTA}-comment-number{
    font-size: 12px;
    font-weight: 400;
    margin-right: 3px;
    display: none;
}

.#{$VESTA}-comment-title{
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.#{$VESTA}-comment-editible-desc{
    height: 100px;
    width: 100%;
    border: none;
    background: #f4f4f4;
    outline: none;
    padding: 8px;
    resize: none;
    &::-webkit-input-placeholder{
        color:#ccc;
    }
    &::-moz-placeholder{
        color:#ccc;
    }
    &::-ms-input-placeholder{
        color:#ccc;
    }
}

.#{$VESTA}-comment-editible-title{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    background: #f4f4f4;
    outline: none;
    padding: 8px;
    resize: none;
    &::-webkit-input-placeholder{
        color:#ccc;
    }
    &::-moz-placeholder{
        color:#ccc;
    }
    &::-ms-input-placeholder{
        color:#ccc;
    }
}
