@import "{}/client/styles/imports/variables.scss";

.#{$VESTA}-comment-creator{
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    font-weight: 700;
    color: #333;
}

.#{$VESTA}-comment-addtime{
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
}

.#{$VESTA}-comment-aside{
    position: absolute;
    right: 100%;
    margin-right: 15px;
    top: 0;
}

.#{$VESTA}-comment-btn-group{
    position: absolute;
    right: 0;
    top: -7px;
}

.#{$VESTA}-comment-number{
    padding: 1px 4px;
    background: lighten($ask, 43%);
    color: $ask;
    font-size: 12px;
    font-weight: 700;
    margin-right: 3px;
}

.#{$VESTA}-comment-title{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
    color: #585858;
}
