@import "{}/client/styles/imports/variables.scss";

// Variables
$min-height: 60px; // ta wartość odpowiada za wysokość pola description

.#{$VESTA}-view-container{
    width: 1170px;
    margin: auto;
    margin-top: 100px;
    @media (max-width: 1400px){
        width: 1000px;
    }
}

.#{$VESTA}-view-content{
    display: flex;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.08);
}

//DESCRIPTION
section.#{$VESTA}-view-desc{
    position: relative;
    padding: 100px 80px 130px 35px;
    background: #fff;
    flex: 1;
    header{
        display: flex;
        align-items: baseline;
        // Title
        p{
            flex-basis: 100px;
            height: 18px;
            padding-right: 11px;
            border-radius: 5px;
            text-align: right;
            font-size: 11px;
            color: #aaa;
            line-height: 18px;
            text-transform: uppercase;
            vertical-align: baseline;
            font-weight: 700;
        }
        h4{
            position: relative;
            font-size: 23px;
            font-weight: 700;
            line-height: 1.4;
            flex: 1;
            color: #333;
            margin-left: 100px;
            @media (max-width: 1400px){
                margin-left: 50px;
            }
        }
    }
    .buttons{
        position: absolute;
        bottom: 45px;
        left: 0;
        width: 100%;
        display: flex;
        .glyphicon{
            font-size: 0.8em;
        }
    }
    .#{$VESTA}-btn-group{
        display: inline-block;
    }
    .#{$VESTA}-btn-group-menu{
        margin-left: 135px;
        @media (max-width: 1400px){
            margin-left: 85px;
        }
    }
    .#{$VESTA}-btn-group-create{
        margin-right: 80px;
        margin-left: auto;
    }
}

// Project path
.#{$VESTA}-view-project-path{
    display: block;
    position: absolute;
    left: 113px;
    top: 53px;
    @media (max-width: 1400px){
        left: 63px;
    }
    h3{
        display: inline-block;
        position: relative;
        font-size: 19px;
        font-weight: 400;
        color: #999;
        // Strzalka
        &::after{
            content: "";
            display: inline-block;
            width: 10px; height: 10px;
            border: 5px solid transparent;
            border-left: 5px solid #ccc;
            bottom: 4px;
            margin-left: 8px;
        }
        &:last-child::after{
            display: none;
        }
        // Rozmiar
        &:nth-of-type(1){
            font-weight: 700;
            text-transform: uppercase;
            color: $vesta-color;
        }
        &:nth-of-type(3){
            font-size: 13px;
        }
    }
}

// Number
.#{$VESTA}-item-number{
    background: lighten($vesta-color, 27%);
    padding: 4px 9px;
    color: $vesta-color;
    font-weight: 700;
    font-weight: 700;
    font-size: 16px;
    margin-right: 7px;
    position: absolute;
    right: 30px;
    top: 48px;
}

.#{$VESTA}-module-id{
    display: block;
    text-align: right;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    color: $vesta-color;
    margin-right: -4px;
}

.#{$VESTA}-module-date{
    font-weight: 400;
    font-size: 15px;
    color: #999;
    span{
        font-size: 10px;
    }
}

// Description
.#{$VESTA}-view-desc-wrapper{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;
    // poprawne wyswietlanie list
    ul,ol{
        padding-left: 1.2em;
    }
    .btn-group-desc{
        flex-basis: 100px;
        padding-right: 11px;
        @media (max-width: 1400px){
            flex-basis: 50px;
        }
        button{
            float: right;
            border: none;
            border-radius: 4px;
            width: 25px;
            height: 25px;
            background: #eee;
            margin-top: 10px;
        }
    }
    .description{
        flex: 3;
        margin-left: 0;
        .btn-toolbar{
            margin-top: 8px;
        }
        .ta-scroll-window > .ta-bind{
            padding: 0;
            color: #555;
            min-height: $min-height;
        }
        .ta-scroll-window.form-control{
            border: 1px solid #eee;
            padding: 15px;
            background: transparent;
            min-height: $min-height;
        }
        // gdy pole edycji jest nieaktywne
        &.disabled{
            .ta-scroll-window.form-control{
                padding: 0;
                border: none;
                transition: 0.5s;
            }
        }
    }
}
.#{$VESTA}-btn-module{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

// Info box
.#{$VESTA}-view-info-box{
    position: relative;
    flex-basis: 250px;
    text-align: right;
    background: #fff;
    padding: 30px;
    border: 10px solid #fff;
    border-left: none;
    .reviewers-box{
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    div.pill{
        padding-right: 15px;
        margin-right: 0;
    }
    .idea-status{
        position: absolute;
        top: 34px;
        left: 50%;
        margin-left: -30%;
        min-width: 60%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        padding: 0;
    }
}

// ADITIONAL SECTIONS

.#{$VESTA}-view-subheader{
    text-align: left;
    font-weight: 400;
    font-size: 19px;
    color: #999;
    padding: 20px 0 5px 100px;
}

.#{$VESTA}-view-input{
    height: 25px;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #fff;
    outline: none;
    font-size: 13px;
    padding-left: 8px;
    margin-bottom: 8px;
    margin-left: -8px;
}

.#{$VESTA}-view-additional{
    display: flex;
    margin-bottom: 100px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.08);
}

.#{$VESTA}-view-discussion{
    flex:1;
}

.#{$VESTA}-view-branches{
    flex-basis: 400px;
    background: #fff;
    border-left: 5px solid #F4F4F4;
}
