//Variables-------------------------------
//------------------------------------------

//Fonts
$font: 'Open Sans', sans-serif;
$thin: 300;
$normal: 400;
$bold: 700;
$extrabold: 900;
$BODYsize: 16px;
$ASIDEsize: 14px;
$PILLsize: 12px;
$BODYline: 1.5em;
$ASIDEline: 1.5em;

//Colors
$TXT: #666;
$HR: #dcdcdc;
$green: #2ecc71;
$red: #e74c3c;
$vesta-color: rgb(161,134,190);

//Prefix
$VESTA: VST;
