<div style="cursor: pointer; position:relative;"
     ng-click="$ctrl.toggleList()"
     class="list-group notif-wrapper">
    <div class="list-group-item">
        Ideas: <span class="badge">{{$ctrl.unseenCounter}}</span>
    </div>
    <div ng-if="$ctrl.listVisible === true" class="list-group notif-box">
        <div class="list-group-item" ng-repeat="notification in $ctrl.notifications | limitTo:
            $ctrl.limit" style="background-color: {{$ctrl.seenColor(notification.seen)}}">
            <h4 class="list-group-item-heading">
                <a href="#/{{notification.entityId}}"
                   style="color: {{$ctrl.getColor(notification)}}">{{notification.entityId}}</a>{{$ctrl.getMessage(notification)}}
            </h4>
            <p class="list-group-item-text">by {{notification.creatorShort()}} {{$ctrl.moment(notification.creationDate).fromNow()}}</p>
            <a ng-if="$last && $ctrl.limit === 5 && $ctrl.notifications.length > 5" ng-click="$ctrl.seeMore()"
               style="cursor: pointer">See more</a>
        </div>
    </div>
</div>

<div style="cursor: pointer; position: relative;"
     ng-click="$ctrl.toggleList()"
     class="list-group notif-wrapper">
    <div class="list-group-item">
        Tasks: <span class="badge">{{$ctrl.unseenCounter}}</span>
    </div>
    <div ng-if="$ctrl.listVisible === true" class="list-group notif-box">
        <div class="list-group-item" ng-repeat="notification in $ctrl.notifications | limitTo:
            $ctrl.limit" style="background-color: {{$ctrl.seenColor(notification.seen)}}">
            <h4 class="list-group-item-heading">
                <a href="#/{{notification.entityId}}"
                   style="color: {{$ctrl.getColor(notification)}}">{{notification.entityId}}</a>{{$ctrl.getMessage(notification)}}
            </h4>
            <p class="list-group-item-text">by {{notification.creatorShort()}} {{$ctrl.moment(notification.creationDate).fromNow()}}</p>
            <a ng-if="$last && $ctrl.limit === 5 && $ctrl.notifications.length > 5" ng-click="$ctrl.seeMore()"
               style="cursor: pointer">See more</a>
        </div>
    </div>
</div>


<div style="cursor: pointer;  position: relative;"
     ng-click="$ctrl.toggleList()"
     class="list-group notif-wrapper">
    <div class="list-group-item">
        Asks: <span class="badge">{{$ctrl.unseenCounter}}</span>
    </div>
    <div ng-if="$ctrl.listVisible === true" class="list-group notif-box">
        <div class="list-group-item" ng-repeat="notification in $ctrl.notifications | limitTo:
            $ctrl.limit" style="background-color: {{$ctrl.seenColor(notification.seen)}}">
            <h4 class="list-group-item-heading">
                <a href="#/{{notification.entityId}}"
                   style="color: {{$ctrl.getColor(notification)}}">{{notification.entityId}}</a>{{$ctrl.getMessage(notification)}}
            </h4>
            <p class="list-group-item-text">by {{notification.creatorShort()}} {{$ctrl.moment(notification.creationDate).fromNow()}}</p>
            <a ng-if="$last && $ctrl.limit === 5 && $ctrl.notifications.length > 5" ng-click="$ctrl.seeMore()"
               style="cursor: pointer">See more</a>
        </div>
    </div>
</div> 
