<div>
    <div class="row">
        <span class="col-md-1 col-md-offset-10">
            <button type="button" name="button" class="btn-V btn-V-cancel"
                    ng-click="$ctrl.remove()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>
    <div class="row" style="border: 1px solid grey;height: 110px;margin-bottom: 3px">
        <span class="col-md-3" style="border-right: 1px solid grey;height: 110px">
            <span class="row">
                {{$ctrl.comment.creator()}}
            </span>
            <span class="row">
                {{$ctrl.moment($ctrl.comment.createdAt).fromNow()}}
            </span>
        </span>
        <span class="col-md-8" style="padding-top:5px;">
            <textarea cols="30" rows="5" ng-model="$ctrl.comment.content"
                    ng-readonly="!$ctrl.edited">            
            </textarea>
        </span>
        <span class="col-md-1" ng-switch="$ctrl.edited">
            <button type="button" name="button" class="btn-edit"
                    ng-click="$ctrl.edit()" 
                    ng-switch-when="false">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" name="button" class="btn-save" ng-click="$ctrl.save()" ng-switch-when="true">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </span>
    </div>
</div>
