<table class="table">
    <thead>
        <tr>
            <th ng-repeat="field in vm.list.columns" ng-click="vm.sort(field)" ng-switch="vm.fieldSorted(field)" style="cursor: pointer">
                {{vm.getLabel(field)}}
                <span ng-switch-when="asc">
                    &nbsp; ASC   
                </span>
                <span ng-switch-when="desc">
                    &nbsp; DESC 
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="idea in vm.ideas" style="cursor: {{vm.getCursorStyle()}}" ng-click="vm.details(idea.number)">
            <td ng-repeat="field in vm.list.columns">
                <a href="#/idea/{{idea.number}}">
                    {{vm.getValue(field, idea[field])}}
                </a>
            </td>
        </tr>
        <tr ng-repeat="task in vm.tasks" style="cursor: {{vm.getCursorStyle()}}" ng-click="vm.details(task.number)">
            <td ng-repeat="field in vm.list.columns">
                <a href="#/task/{{task.number}}">
                    {{vm.getValue(field, task[field])}}
                </a>
            </td>
        </tr>
    </tbody>
</table>