<table class="table">
    <thead>
        <tr>
            <th ng-repeat="field in vm.list.columns"
                ng-click="vm.sort(field)"
                ng-switch="vm.fieldSorted(field)"
                style="cursor: pointer">
                {{vm.getLabel(field)}}
                <span ng-switch-when="asc">
                    &nbsp; ASC   
                </span>
                <span ng-switch-when="desc">
                    &nbsp; DESC 
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="idea in vm.ideas">
            <td ng-repeat="field in vm.list.columns">
                {{vm.getValue(field, idea[field])}}
            </td>
        </tr>
    </tbody>
</table>