@import "{}/client/styles/imports/variables.scss";

// Ask DESCRIPTION
.#{$VESTA}-ask-container{
    .pill{
        background: lighten($ask, 15%);
    }
    .btn-group-desc .btn-edit, .btn-toolbar .btn, .btn-group-desc .btn-save{
        border-color: lighten($ask, 10%);
        background: lighten($ask, 37%);
    }
    h1{
        color: $ask !important;
    }
}

// Wrapper
.#{$VESTA}-view-aditional{
    margin-top: 30px;
}

.responses-wrapper{
    padding-left: 0;
    padding-right: 0;
}

// Good points
.goodPoints{
    background: #fff;
    padding: 30px;
    padding-bottom: 50px;
    border-left: 5px solid rgb(244, 244, 244);
}

.goodPoints-wrapper{
    padding-left: 50px;
    padding-top: 30px;
    .pill{
        display: block;
        background: transparent;
        color: #888;
        font-size: 13px;
        padding: 0;
        padding-right: 30px;
        margin: 0 0 5px 0;
        button{
            position: relative;
            padding-left: 10px;
            color: #ccc;
        }
    }
    .glyphicon.glyphicon-ok{
        color: #25c525;
        position: absolute;
        left: -24px;
        font-size: 1.2em;
    }
    .VST-btn{
        padding: 5px 15px;
    }
}
.goodPoints-box{
    margin-top: 10px;
}

// Responses
.new-response{
    background: #fff;
    padding: 35px;
    .label-modal{
        width: 100px;
        text-align: right;
        padding-right: 11px;
        vertical-align: top;
    }
    .VST-view-input{
        width: 400px;
    }
    textarea{
        resize: none;
        height: 200px;
    }
}

.added-response{
    background: #fff;
    padding: 35px;
}

.response-number{
    display: inline-block;
    margin-left: 90px;
}

.response-name{
    display: inline-block;
    font-size: 20px;
}

.response-addTime{
    display: inline-block;
}

.response-desc{
    padding-left: 100px;
}
.response-desc-title{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
.gowno{
    padding-left: 300px;
    position: absolute;
    margin-top: -28px;
}
