@import "{}/client/styles/imports/variables.scss";

// Wrapper
.#{$VESTA}-view-aditional{
    margin-top: 30px;
}
.responses-wrapper{
    padding-right: 30px;
    padding-left: 0;
}
.new-response{
    background: #fff;
}

// Good points
.goodPoints{
    background: #fff;
    padding: 30px;
    padding-bottom: 50px;
}
.goodPoints-wrapper{
    padding-left: 50px;
    padding-top: 30px;
    .pill{
        display: block;
        background: transparent;
        color: #888;
        font-size: 13px;
        padding: 0;
        padding-right: 30px;
        margin: 0 0 5px 0;
        button{
            position: relative;
            padding-left: 10px;
            color: #ccc;
        }
    }
    .glyphicon.glyphicon-ok{
        color: #25c525;
        position: absolute;
        left: -24px;
        font-size: 1.2em;
    }
}
.goodPoints-box{
    margin-top: 10px;
}
