@import "{}/client/styles/imports/variables.scss";

// Dashboard container
.#{$VESTA}-dashboard-container{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

//News wrapper - request, vote etc
.#{$VESTA}-news-wrapper-dash{
    flex: 1 1 auto;
    min-width: 0;
    background: linear-gradient(135deg, #00ccb9 0%,#02bbbb 100%);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.#{$VESTA}-news-wrapper-dash{
    h3{
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
}

.#{$VESTA}-request-mine-dash{
    text-align: center;
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .id{
        margin-right: 0.5em;
    }
    .request-desc{
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
    .explenation{
        font-style: italic;
    }
}


// Module wrapper
.#{$VESTA}-moduleAll-wrapper-dash{
    flex: 1 1 auto;
    min-width: 0;
    .#{$VESTA}-row{
        display: flex;
    }
}

.#{$VESTA}-module-dash{
    flex: 1 1 0;
    min-height: 250px;
    background: #fff;
    border-left: 35px solid #fff;
    min-width: 0;
    padding-bottom: 50px;
    &.task{
        margin-bottom: 10px;
        border-color: lighten($task, 30%);
    }
    &.idea{
        margin-right: 10px;
        border-color: lighten($idea, 30%);
    }
    &.ask{
        border-color: lighten($ask, 30%);
    }
}

.#{$VESTA}-module-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    height: 60px;
    line-height: 60px;
    padding-left: 23px;
    &.task{
        color: $task;
    }
    &.idea{
        color: $idea;
    }
    &.ask{
        color: $ask;
    }
}

.#{$VESTA}-list-item{
    display: flex;
    align-items: center;
    min-width: 0;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 10px;
    font-size: 13px;
    &:last-of-type{
        border: none;
    }
    > div > a{
        display: block;
        text-decoration: none;
        color: inherit;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }
    .#{$VESTA}-badge{
        flex: 0 1 50px;
        text-align: center;
        .project-badge{
            font-size: 10px;
        }
    }
    .title{
        flex: 15 10 0;
        min-width: 0;
        a{
            padding-right: 20px;
        }
        a > p{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 500px;
        }
    }
    .type,
    .type,
    .time{
        flex: 0 1 100px;
        text-align: left;
    }
    .creator{
        flex-basis: 150px;
    }
    .#{$VESTA}-priority{
        flex: 1 1 100px;
        text-align: left;
    }
    .#{$VESTA}-status{
        flex: 1 1 80px;
        text-align: left;
    }
}

// Pinned wrapper
.#{$VESTA}-pinned-wrapper-dash{
    flex: 0 0 350px;
    background: #fff;
    margin-left: 10px;
}














//
// // Dashboard main section
// .#{$VESTA}-dashboard-main{
//     flex-: 0 1 auto;
//     margin-bottom: 150px;
// }
//
// ##{$VESTA}-dashboard-addpost{
//     textarea{
//         height: 80px;
//     }
//     select{
//         width: 200px;
//         margin-bottom: 5px;
//     }
//     button{
//         float: right;
//         margin-top: 5px;
//         margin-bottom: 10px;
//     }
//     &::after, &::before{
//         content: "";
//         display: block;
//         clear: both;
//     }
// }
//
// .#{$VESTA}-dashboard-post-container{
//     margin-top: 50px;
// }
//
// .#{$VESTA}-dashboard-post{
//     position: relative;
//     background: #fff;
//     padding: 30px;
//     padding-left: 100px;
//     margin-bottom: 30px;
//     box-shadow: 3px 3px 6px rgba(0,0,0,0.05);
//     .project-badge{
//         position: absolute;
//         right: 100%;
//         margin-right: -13px;
//         top: -4px;
//         margin-top: -10px;
//         font-size: 16px;
//     }
//     .#{$VESTA}-btn{
//         margin-top: 10px;
//         float: right;
//     }
//     &::after, &::before{
//         content: "";
//         display: block;
//         clear: both;
//     }
// }
//
// // Dashboard aside
// .#{$VESTA}-dashboard-aside{
//     flex: 0 0 350px;
// }
