@import "{}/client/styles/imports/variables.scss";
// Variables
$breakpoint: 1450px;

// Dashboard container
.#{$VESTA}-dashboard-container{
    margin: auto;
    display: block;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1500px;
}

//News wrapper - request, vote etc
.#{$VESTA}-news-wrapper-dash{
    flex: 1 1 auto;
    min-width: 0;
    background: linear-gradient(135deg, #00ccb9 0%,#02bbbb 100%);
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
}

.#{$VESTA}-news-wrapper-dash{
    h3{
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: center;
        height: 70px;
        line-height: 70px;
    }
}

.#{$VESTA}-request-mine-dash{
    text-align: center;
    color: rgba(255, 255, 255, 0.93);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .id{
        margin-right: 0.5em;
    }
    .request-desc{
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
    .explenation{
        font-style: italic;
    }
}


// Module wrapper
.#{$VESTA}-moduleAll-wrapper-dash{
    flex: 1 1 auto;
    min-width: 0;
    .#{$VESTA}-row{
        @media(max-width: $breakpoint){
            flex-direction: column;
        }
    }
}

.#{$VESTA}-module-dash{
    flex: 1 1 0;
    min-height: 250px;
    background: #fff;
    border: 10px solid #fff;
    min-width: 0;
    padding-bottom: 50px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    @media(max-width: $breakpoint){
        flex-basis: auto;
    }
    &.task{
        //border-color: lighten($task, 30%);
    }
    &.idea{
        margin-right: 10px;
        //border-color: lighten($idea, 30%);
        @media(max-width: $breakpoint){
            margin-right: 0;
        }
    }
    &.ask{
        //border-color: lighten($ask, 30%);
    }
}

.#{$VESTA}-module-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    height: 50px;
    line-height: 50px;
    padding-left: 16px;
    margin-bottom: 10px;
    img{
        width: 25px;
        transform: translateY(6px);
    }
    &.task{
        color: $task;
        background: lighten($task, 38%);
    }
    &.idea{
        color: $idea;
        background: lighten($idea, 38%);
    }
    &.ask{
        color: $ask;
        background: lighten($ask, 38%);
    }
}

.#{$VESTA}-list-item{
    display: flex;
    align-items: center;
    min-width: 0;
    border-bottom: 1px solid #f4f4f4;
    padding-left: 10px;
    font-size: 12px;
    &:last-of-type{
        border-bottom: none !important;
    }
    > div > a{
        display: block;
        text-decoration: none;
        color: inherit;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .#{$VESTA}-badge{
        flex: 0 1 50px;
        text-align: center;
        .project-badge{
            font-size: 10px;
        }
    }
    .title{
        flex: 15 10 0;
        min-width: 0;
        padding-left: 15px;
        a{
            padding-right: 20px;
        }
        a > p{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 400px;
        }

        // Dot
        &::after{
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            display: inline-block;
            left: 0px;
            top: 17px;
            border-radius: 50%;
        }
        &.task::after{
            background: $task;
        }
        &.idea::after{
            background: $idea;
        }
        &.ask::after{
            background: $ask;
        }
    }
    .type,
    .time{
        flex: 0 1 100px;
        text-align: left;
        @media(max-width: $breakpoint){
            display: none;
        }
    }
    .creator{
        flex-basis: 150px;
        @media(max-width: $breakpoint){
            display: none;
        }
    }
    .#{$VESTA}-priority{
        flex: 1 1 100px;
        text-align: left;
    }
    .#{$VESTA}-status{
        flex: 1 1 80px;
        text-align: left;
        @media(max-width: $breakpoint){
            flex-basis: 100px;
        }
    }
}

// Pinned wrapper
.#{$VESTA}-pinned-wrapper-dash{
    flex: 0 0 350px;
    background: #f4f4f4;
    border: 10px solid #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    @media(max-width:1600px){
        flex: 0 0 400px;
    }
}














//
// // Dashboard main section
// .#{$VESTA}-dashboard-main{
//     flex-: 0 1 auto;
//     margin-bottom: 150px;
// }
//
// ##{$VESTA}-dashboard-addpost{
//     textarea{
//         height: 80px;
//     }
//     select{
//         width: 200px;
//         margin-bottom: 5px;
//     }
//     button{
//         float: right;
//         margin-top: 5px;
//         margin-bottom: 10px;
//     }
//     &::after, &::before{
//         content: "";
//         display: block;
//         clear: both;
//     }
// }
//
// .#{$VESTA}-dashboard-post-container{
//     margin-top: 50px;
// }
//
// .#{$VESTA}-dashboard-post{
//     position: relative;
//     background: #fff;
//     padding: 30px;
//     padding-left: 100px;
//     margin-bottom: 30px;
//     box-shadow: 3px 3px 6px rgba(0,0,0,0.05);
//     .project-badge{
//         position: absolute;
//         right: 100%;
//         margin-right: -13px;
//         top: -4px;
//         margin-top: -10px;
//         font-size: 16px;
//     }
//     .#{$VESTA}-btn{
//         margin-top: 10px;
//         float: right;
//     }
//     &::after, &::before{
//         content: "";
//         display: block;
//         clear: both;
//     }
// }
//
// // Dashboard aside
// .#{$VESTA}-dashboard-aside{
//     flex: 0 0 350px;
// }
