@import "{}/client/styles/imports/variables.scss";


// Variables
$min-height: 100px; // ta wartość odpowiada za wysokość pola description

//Idea DESCRIPTION
.#{$VESTA}-idea-container{
    .pill{
        background: lighten($idea, 15%);
    }
    .btn-group-desc .btn-edit, .btn-toolbar .btn, .btn-group-desc .btn-save{
        border-color: lighten($idea, 10%);
        background: lighten($idea, 37%);
    }
    h1{
        color: $idea !important;
    }

    .#{$VESTA}-btn-group-menu .#{$VESTA}-btn{
        border-color: lighten($idea, 10%);
        background: lighten($idea, 37%);
    }
}

// Status idea
.idea-status{
    position: relative;
    display: inline-block;
    padding: 2px 7px 1px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: white;
    font-size: 7px;
    vertical-align: middle;
    margin-left: 7px;
    background: #777;
    &-New{
        background: #14D1DA;
    }
    &-Consider{
        background: #4AA3DF;
    }
    &-Implemented{
        background: #2ecc71;
    }
    &-Rejected{
        background: #e74c3c;
    }
    &-Working{
        background: #BE5EE4;
    }
    &-Deferred{
        background: #888;
    }
    &-Closed{
        background: #777;
    }
    .glyphicon{
        display: inline;
        margin-right: 0.5em;
    }
}


//Idea REWIEWS
section.idea-reviews{
    margin-bottom: 100px;

    // Added reviews
    .reviews-wrapper{
        background: #fff;
        padding: 30px;
    }

    .reviews-added-wrapper{
        background: #fff;
    }

    .review-box{
        display: flex;
        border-bottom: 1px solid #eee;
        padding-top: 40px;
        padding-bottom: 30px;
        &:last-child{
            border: none;
            padding-bottom: 50px;
        }
    }

    .btn-group-desc{
        flex-basis: 100px;
        padding-right: 11px;
        button{
            float: right;
            border: none;
            border-radius: 4px;
            width: 25px;
            height: 25px;
            background: #eee;
        }
    }

    // Review content box
    .review-content-box{
        flex: 1;
    }

    header{
        position: relative;
    }

    .reviwer-name{
        display: inline-block;
        font-size: 20px;
    }

    p.review-addTime{
        display: inline-block;
    }

    .VST-btn-cancel{
        position: absolute;
        right: 0;
        top: 0;
        color: #D2D2D2;
    }

    .prons-cons-wrapper{
        margin-top: 15px;
        .pill{
            display: block;
            background: transparent;
            color: #888;
            font-size: 13px;
            padding: 0;
            padding-right: 30px;
            margin: 0 0 5px 0;
            button{
                position: relative;
                padding-left: 10px;
                color: #ccc;
            }
        }
        span.glyphicon{
            position: absolute;
            left: -20px;
            top: 4px;
            &-minus-sign{
                color: $red;
            }
            &-plus-sign{
                color: $green;
            }
        }
        .prons-box{
            display: inline-block;
            width: 280px;
            vertical-align: top;
        }
        .cons-box{
            display: inline-block;
            max-width: 400px;
            vertical-align: top;
        }
        input{
            height: 25px;
            min-width: 200px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background: #fff;
            outline: none;
            font-size: 13px;
            padding-left: 8px;
            margin-bottom: 8px; margin-left: -8px;
            &::-webkit-input-placeholder{
                color:#ddd;
            }
            &::-moz-placeholder{
                color:#ddd;
            }
            &::-ms-input-placeholder{
                color:#ddd;
            }
        }
    }

    .desc-wrapper{
        padding-right: 200px;
        margin-top: 10px;
    }

    textarea.editible-desc{
        height: 100px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ddd;
        background: #fff;
        outline: none;
        font-size: 15px;
        padding: 8px;
        resize: none;
        margin-left: -8px;
        &::-webkit-input-placeholder{
            color:#ddd;
        }
        &::-moz-placeholder{
            color:#ddd;
        }
        &::-ms-input-placeholder{
            color:#ddd;
        }
    }

    // New review content box
    .new-review-box{
        padding-bottom: 60px;
        padding-top: 30px;
    }

    .new-review-content-box{
        margin-left: 100px;
        .desc-wrapper{
            padding-right: 0;
            width: 700px;
        }
        button.#{$VESTA}-btn{
            display: block;
            float: right;
            margin-top: 10px;
            margin-right: 8px;
        }
    }
}
