@import "{}/client/styles/imports/variables.scss";

.header{
    background: $yellow;
    height: 10px;
    margin-bottom: 50px;
}

// Idea HEADER ******************************************
    #project, #module{
        display: inline-block;
    }
    #project{
        &:after {
        content: "";
        display: inline-block;
        position: relative;
        width: 0.5em; height: 0.5em;
        margin-left: 0.4em;
        border: 0.25em solid transparent;
        border-left: 0.25em solid #a186be;
        }
    }

// Idea CONTENT ****************************************
.idea-content{
    padding: 0 50px;
        h4{
        font-size: 24px;
        padding-bottom: 30px;
        }
    .description-wrapper{
        position: relative;
        .btn-group{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 200;
        }
    }
}


// Idea COMMENTS ****************************************
.idea-comments{
    font-size: $ASIDEsize;
    line-height: $ASIDEline;
    padding: 40px 20px;
    border: solid 1px $HR;
    border-radius: 20px 0 0 20px;
}
.comment{
    position: relative;
    margin-bottom: 30px;
    transition: 0.5s;
    &::after{
    content: "";
    position: relative;
    height: 20px; width: 90%;
    border-bottom: 1px solid rgba( $HR, .5 );
    margin: auto;
    }
    &:last-child{
    margin-bottom: 0;
    }
    &:last-child::after{
    display: none;
    }
        .features{
        margin-bottom: 15px;
        }
        header{
        padding-right: 0;
        }
        h3{
        margin: 0;
        line-height: 50px;
        }
        textarea{
        margin: 0px;
        padding: 0px;
        border: none;
        outline: none;
        width: 100%;
        min-height: 22px;
        resize: none
        }
}
.new-comment{
    border-radius: 20px 0 0 0;
    margin-bottom: 50px;
        .dropdown-menu a{
        width: 30px; height: 30px;
        background: url("/images/icon-like.png");
        padding: 0;
        margin: 15px auto;
        }
        h3{
        margin: 0;
        line-height: 50px;
        color: $HR;
        }
        .status{
        border-color: $HR;
        background: rgba( $HR, .3 );
        }
        input{
        border-color: $HR;
        background: rgba( $HR, .3 );
        width: 100%;
        transition: 0.5s;
        }
        input:focus{
        background: #fff;
        }
        textarea{
        width: 100%;
        min-height: 100px;
        padding: 15px;
        border-radius: 15px;
        margin-top: 15px;
        overflow: auto;
        resize: none;
        border-color: $HR;
        background: rgba( $HR, .3 );
        transition: 0.5s;
        }
        textarea:focus{
        background: #fff;
        }
        .comment-content > button{
        display: block;
        margin: auto;
        margin-top: 20px;
        }
}
.reviewer-avatar{
    width:50px; height:50px;
    background: #ddd;
    border-radius: 50%;
    margin:auto;
}
.status-wrapper{
    height: 50px;
    padding-right: 0;
    text-align: center;
    line-height: 50px;
}
.status{
    display: inline-block;
    width:30px; height:30px;
    border: 2px solid;
    border-radius: 50%;
    margin: 5px auto;
    line-height: 50px;
    vertical-align: middle;
    &-like{
    border-color: $green;
    }
    &-dislike{
    border-color: $red;
}
}
