@import "{}/client/styles/imports/variables.scss";


// Variables
$min-height: 100px; // ta wartość odpowiada za wysokość pola description

//Idea DESCRIPTION
.#{$VESTA}-idea-container{

    h1{
        color: $idea !important;
    }

    .table{
        margin: 25px auto 25px auto !important;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.08);
    }
    .#{$VESTA}-view-desc{
        border-left-color: lighten($idea, 30%);
    }
}

// Status idea
.idea-status{
    position: relative;
    display: inline-block;
    padding: 2px 7px 1px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: white;
    font-size: 7px;
    vertical-align: middle;
    margin-left: 7px;
    background: #777;
    &-New{
        background: #14D1DA;
    }
    &-Consider{
        background: #4AA3DF;
    }
    &-Implemented{
        background: #2ecc71;
    }
    &-Rejected{
        background: #e74c3c;
    }
    &-Working{
        background: #BE5EE4;
    }
    &-Deferred{
        background: #888;
    }
    &-Closed{
        background: #777;
    }
    .glyphicon{
        display: inline;
        margin-right: 0.5em;
    }
}


//Idea REWIEWS
section.idea-reviews{

    // Added reviews
    .reviews-wrapper{
        background: #fff;
        padding: 30px;
        padding-left: 130px;
        @media (max-width: 1400px){
            padding-left: 80px;
        }
    }

    .reviews-added-wrapper{
        background: #fff;
    }

    .review-box{
        display: flex;
        padding-top: 40px;
        padding-bottom: 30px;
        &:last-child{
            border: none;
            padding-bottom: 50px;
        }
    }

    .btn-group-desc{
        flex-basis: 100px;
        padding-right: 11px;
        @media (max-width: 1400px){
            flex-basis: 50px;
        }
        button{
            float: right;
            border: none;
            border-radius: 4px;
            width: 20px;
            height: 20px;
            background: #eee;
            font-size: 10px;
        }
    }

    // Review content box
    .review-content-box{
        position: relative;
        flex: 1;
    }

    header{
        position: relative;
    }

    .prons-cons-wrapper{
        display: flex;
        margin-right: 120px;
        .pill{
            display: block;
            margin: 5px 0;
            padding-left: 27px;
            min-height: 32px;
            width: 100%;
        }
        span.glyphicon{
            position: absolute;
            left: 10px;
            top: 11px;
            font-size: 11px;
            &-minus-sign{
                color: $red;
            }
            &-plus-sign{
                color: $green;
            }
        }
        .prons-box{
            flex: 1 1 0;
            margin-right: 20px;
            .pill:not(.create){
                color: $green;
                background: lighten($green, 45%);
            }
        }
        .cons-box{
            flex: 1 1 0;
            .pill:not(.create){
                color: $red;
                background: lighten($red, 38%);
            }
        }
        input{
            border: none;
            background: #f4f4f4;
            outline: none;
            font-size: 13px;
            padding-left: 8px;
            &::-webkit-input-placeholder{
                color:#ccc;
            }
            &::-moz-placeholder{
                color:#ccc;
            }
            &::-ms-input-placeholder{
                color:#ccc;
            }
        }
    }

    .desc-wrapper{
        margin-top: 10px;
        color: #555;
        font-size: 16px;
        line-height: 1.6em;
    }

    textarea.editible-desc{
        height: 100px;
        width: 100%;
        border: none;
        background: #f4f4f4;
        outline: none;
        font-size: 15px;
        padding: 8px;
        resize: none;
        &::-webkit-input-placeholder{
            color:#ccc;
        }
        &::-moz-placeholder{
            color:#ccc;
        }
        &::-ms-input-placeholder{
            color:#ccc;
        }
    }

    .btn-group-review{
        position: absolute;
        right: 0;
        top: -7px;
    }

    .idea-review-status{
        margin-top: 10px;
    }

    // New review content box
    .new-review-box{
        padding-bottom: 60px;
    }

    .new-review-content-box{
        .desc-wrapper{
            padding-right: 50px;
            @media (max-width: 1400px){
                padding-right: 0;
            }
        }
        button.#{$VESTA}-btn{
            display: block;
            float: right;
            margin-top: 10px;
            background: lighten($idea, 43%);
            color: $idea;
            font-weight: 700;
        }
    }
}
