@import "{}/client/styles/imports/variables.scss";
@import "{}/client/styles/modal_description.scss";

#newIdeaModal{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.64) 0%, rgba(0,0,0,0.29) 99%, rgba(0,0,0,0.29) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.29) 99%,rgba(0,0,0,0.29) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.64) 0%,rgba(0,0,0,0.29) 99%,rgba(0,0,0,0.29) 100%);
    .modal-dialog{
        min-width: 800px;
    }
    .modal-content{
        padding: 20px;
        -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
        background: #f4f4f4;
    }
    // Modal header
    .modal-header{
        padding: 0 0 15px 0 !important;
        // Button cancel
        .btn-V-cancel{
            position: absolute;
            right: 30px;
            top: 30px;
            padding: 3px 20px;
            background: transparent;
            color: #ABABAB;
            border: 1px solid;
        }
        // Logo
        img{
            display: block;
            margin: auto;
        }
        h4{
            display: block;
            margin: auto;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 19px;
            font-weight: 700;
            color: #B3B3B3;
            padding-top: 6px;
        }
        .idea-label{
            position: absolute;
            padding: 2px 7px;
            letter-spacing: 1px;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 400;
            color: white;
            font-size: 8px;
            vertical-align: top;
            margin-left: 4px;
            background: #1abc9c;
        }
    }
    // Project, Module, Reviewers, Title
    .field-wrapper{
        position: relative;
        width: 100%;
        margin: 5px 0;
        text-align: left;
        label.label-modal{
            display: inline-block;
            width: 100px;
            height: 18px;
            text-align: right;
            font-size: 10px;
            color: #aaa;
            line-height: 18px;
            text-transform: uppercase;
            vertical-align: baseline;
        }
        select, input{
            height: 25px;
            min-width: 200px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background: #fff;
            outline: none;
            margin-left: 5px;
            font-size: 13px;
            padding-left: 5px;
        }
        .glyphicon-ok-sign{
            color: #3498DB;
            margin-left: 4px;
            font-size: 12px;
        }
        // Title
        .title-wrapper{
            display: -webkit-flex;
            display: flex;
            align-items: baseline;
            margin-bottom: 10px;
            label.label-modal{
                -webkit-flex-basis: 100px; /* Safari 6.1+ */
                -ms-flex-basis: 100px; /* IE 10 */
                flex-basis: 100px;
            }
            input{
                -webkit-flex: 1; /* Safari 6.1+ */
                -ms-flex: 1; /* IE 10 */
                flex: 1;
                height: 35px;
                font-size: 18px;
                padding-left: 6px;
                margin-left: 7px;
                &::-webkit-input-placeholder{
                    color:#ddd;
                }
                &::-moz-placeholder{
                    color:#ddd;
                }
                &::-ms-input-placeholder{
                    color:#ddd;
                }
            }
        }
        .error{
            display: inline-block;
            color: $red;
        }
    }
    .reviewers-box{
        display: flex;
        flex-wrap: wrap;
        min-height: 40px;
        align-items: center;
        padding-left: 109px;
        }
    //Button create
    .btn-wrapper{
        text-align: right;
    }
}

// Description

.description-wrapper{
    display: flex;
    label.label-modal{
        flex-basis: 100px;
        text-align: right;
        font-size: 10px;
        color: #aaa;
        line-height: 18px;
        text-transform: uppercase;
    }
    .description{
        flex: 1;
        overflow-x: auto;
        text-align: left;
    }
}
