@import "{}/client/styles/imports/variables.scss";

.description-wrapper{
    position: relative;
    .btn-group-description{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 200;
    }
}
// Task DESCRIPTION
.#{$VESTA}-task-container{
    .pill{
        background: lighten($task, 15%);
    }
    .btn-group-desc .btn-edit, .btn-toolbar .btn, .btn-group-desc .btn-save{
        border-color: lighten($task, 10%);
        background: lighten($task, 37%);
    }
    h1{
        color: $task !important;
    }
    .#{$VESTA}-view-info-box{
        background: lighten($task, 43%);
    }
}
