#main-container{
    td.middle{
        vertical-align: middle;
    }
    .priority{
        height: 7px;
        border-radius: 0;
        &-Low{
        width: 30%;
        background: #00e200;
        max-width: 30px;
        }
        &-Normal{
        width: 45%;
        background: #f3e000;
        max-width: 45px;
        }
        &-High{
        width: 60%;
        background: #ffa210;
        max-width: 60px;
        }
        &-Critical{
        width: 75%;
        background: #ff4a26;
        max-width: 75px;
        }
    }
    caption.task-caption{
        padding: 5px 15px;
        background: #eee;
    }
}
