<button type="button" class="btn-V btn-V-primary new-idea" data-toggle="modal"
            data-target="#newIdeaModal" data-backdrop="false" ng-click="newIdeaVm.openModal()">
    New Idea
</button>

<!-- Modal idea-->
<div class="modal fade" id="newIdeaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header" style="padding:35px 50px;">
                <!-- Button cancel -->
                <button id="cancelBtn" class="btn-V btn-V-cancel"
                        ng-click="newIdeaVm.cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <!-- Logo -->
                <img src="/images/icon-Idea-small.png" alt="Idea main icon" />
                <h4>
                    Idea
                    <span class="idea-label">new</span>
                </h4>
            </div>

            <div class="modal-body">
                <form name="newIdeaForm" novalidate>

                    <!--Project-->
                    <fieldset id="project" class="field-wrapper">
                        <label class="label-modal">Project:</label>
                        <select ng-model="newIdeaVm.idea.project" name="project" required
                                ng-options="project as project.name for project in newIdeaVm.projects">
                        </select>
                        <div class="glyphicon glyphicon-ok-sign" ng-show="newIdeaVm.idea.project"></div>
                    </fieldset>

                    <!--Module-->
                    <fieldset id="module" class="field-wrapper">
                        <label class="label-modal">Module:</label>
                        <select ng-model="newIdeaVm.idea.module" name="module" required
                                ng-options="module._id as module.name for module in newIdeaVm.modules">
                        </select>
                        <div class="glyphicon glyphicon-ok-sign" ng-show="newIdeaVm.idea.module"></div>
                    </fieldset>

                    <!--Assign-->
                    <fieldset id="assign" class="field-wrapper">
                        <label class="label-modal">
                            Reviewers:
                        </label>
                        <select ng-model="newIdeaVm.reviewer"
                                ng-change="newIdeaVm.reviewerSelected()"
                                ng-options="user.profile.fullname for user in
                                            newIdeaVm.users"
                                name="reviewer">
                        </select>
                    </fieldset>
                    <div class="reviewers-box">
                        <pill ng-repeat="reviewer in newIdeaVm.selectedReviewers"
                              value="reviewer.profile.fullname"
                              remove="newIdeaVm.removeReviewer(reviewer)">
                        </pill>
                    </div>

                    <!--Title-->
                    <fieldset id="title" class="fsStyle field-wrapper last">
                        <div class="title-wrapper">
                            <label class="label-modal">Title:</label>
                            <input name="title" type="text" ng-model="newIdeaVm.idea.title" placeholder="Add title here" required/>
                        </div>
                    </fieldset>

                    <!--Description-->
                    <fieldset id="description" class="fsStyle">
                        <div class="description-wrapper">
                            <label class="label-modal">Description:</label>
                            <div text-angular ng-model="newIdeaVm.output" class="description"
                                 name="description">
                            </div>
                        </div>
                    </fieldset>
                    <br>

                    <!--Footer buttons-->
                    <div class="btn-wrapper">
                        <button id="acceptBtn" class="btn-V btn-V-primary"
                                ng-click="newIdeaVm.accept(newIdeaForm.$valid)">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
