<button type="button" class="btn btn-info btn-md" data-toggle="modal"
            data-target="#newIdeaModal" data-backdrop="false" ng-click="newIdeaVm.openModal()">
    New Idea
</button>

<!-- Modal idea-->
<div class="modal fade" id="newIdeaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>New Idea</h4>
            </div>
            <div class="modal-body">
                <form name="newIdea" novalidate>
                    <br />

                    <!--Project-->
                    <fieldset id="project" class="field-wrapper">
                        <label class="label label-default">Project</label>
                        <select ng-model="newIdeaVm.idea.project" name="project" required
                                ng-options="project as project.name for project in newIdeaVm.projects">
                        </select>
                        <div ng-messages="newIdea.project.$error" class="error">
                            <div ng-message="required" ng-show="newIdea.project.$touched ||
                                newIdea.$submitted">
                                This field is required
                            </div>
                        </div>
                    </fieldset>
                    <br />

                    <!--Module-->
                    <fieldset id="module" class="field-wrapper">
                        <label class="label label-default">Module</label>
                        <select ng-model="newIdeaVm.idea.module" name="module" required
                                ng-options="module._id as module.name for module in newIdeaVm.modules">
                        </select>
                        <div ng-messages="newIdea.module.$error" class="error">
                            <div ng-message="required" ng-show="newIdea.module.$touched ||
                                newIdea.$submitted">
                                This field is required
                            </div>
                        </div>
                    </fieldset>
                    <br />

                    <!--Title-->
                    <fieldset id="title" class="fsStyle field-wrapper last">
                        <label class="label label-default">Title</label>
                        <input name="title" type="text" ng-model="newIdeaVm.idea.title" required/>
                        <div ng-messages="newIdea.title.$error" class="error">
                            <div ng-message="required" ng-show="newIdea.title.$touched ||
                                newIdea.$submitted">
                                This field is required
                            </div>
                        </div>
                    </fieldset>


                    <!--Description-->
                    <fieldset id="description" class="fsStyle">
                        <label class="label label-default">Description</label>
                        <div text-angular ng-model="newIdeaVm.output"></div>
                        <!--<drag-and-drop output="newIdeaVm.output"></drag-and-drop>-->
                    </fieldset>
                    <br>

                    <!--Assign-->
                    <fieldset id="assign" class="field-wrapper">
                        <label class="label label-default">
                            Assign reviewers
                        </label>
                        <select ng-model="newIdeaVm.reviewer"
                                ng-change="newIdeaVm.reviewerSelected()"
                                ng-options="user.profile.fullname for user in
                                            newIdeaVm.users">
                        </select>
                    </fieldset>
                    <br>
                    <pill direction="one-way"
                          ng-model="newIdeaVm.selectedReviewers"></pill>

                    <!--Footer buttons-->
                    <button id="acceptBtn" class="btn btn-success"
                            ng-click="newIdeaVm.accept(newIdea.$valid)">
                        Click
                    </button>
                    <button id="cancelBtn" class="btn btn-danger"
                            ng-click="newIdeaVm.cancel()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".modal-body").addClass("disabled");
</script>
