<button type="button" class="btn btn-info btn-md" data-toggle="modal" 
            data-target="#newIdeaModal" data-backdrop="false" ng-click="newIdeaVm.openModal()">
    New Idea
</button>

<!-- Modal -->
<div class="modal fade" id="newIdeaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>New Idea</h4>
            </div>
            <div class="modal-body">
                <form name="newIdea">
                    <br />
                    <fieldset id="project">
                        <label class="label label-default">Project</label>
                        <select ng-model="newIdeaVm.idea.project" 
                                ng-options="project as project.name for project in newIdeaVm.projects">
                            <option>Choose project...</option>
                        </select>
                    </fieldset>
                    <br />
                    <fieldset id="module">
                        <label class="label label-default">Module</label>
                        <select ng-model="newIdeaVm.idea.module">
                            <option selected="selected">Choose module...</option>                  
                            <option ng-repeat="module in newIdeaVm.idea.project.modules">
                                {{module}}
                            </option>
                        </select>
                    </fieldset>
                    <br />
                    <fieldset id="title" class="fsStyle">
                        <label class="label label-default">Title</label>
                        <input name="title" type="text" ng-model="newIdeaVm.idea.title" required/>
                    </fieldset> 
                      <div ng-messages="newIdea.title.$error" role="alert" 
                           ng-if="newIdea.title.$touched">
                        <div ng-message="required">Please enter a value for this field.</div>
                      </div>
                    <fieldset id="description" class="fsStyle">
                        <label class="label label-default">Description</label>
                        <drag-and-drop output="newIdeaVm.output"></drag-and-drop>
                    </fieldset>                     
                    <br>
                    
                    
                    <fieldset id="assign">
                        <label class="label label-default">
                            Assign reviewers
                        </label>
                        <select ng-model="newIdeaVm.reviewer" 
                                ng-change="newIdeaVm.reviewerSelected()"
                                ng-options="user.profile.fullname for user in 
                                            newIdeaVm.users">
                        </select>
                    </fieldset>
                    <br>  
                    <pill read-only="true" 
                          ng-model="newIdeaVm.selectedReviewers"></pill>
                    
                    <button id="acceptBtn" class="btn btn-success" 
                            ng-click="newIdeaVm.accept()">
                        Click
                    </button>
                    <button id="cancelBtn" class="btn btn-danger" 
                            ng-click="newIdeaVm.cancel()">
                        Cancel
                    </button>
                </form>                
            </div>
        </div>
    </div>
</div>


