<!-- klocki na gorze -->
<section>
    <!-- Zrob to tez jako klikalne buttony ktore dadza to samo co klikniecie na checkboxa-->
    <div style="margin: 50px;">
        <div style="height: 40px;
                    width:90px;
                    border: 1px solid black;
                    display: inline-block;
                    margin-right: 60px;
                    background-color: {{vm.isStageActive('GOALS') ? 'antiquewhite': 'none'}}">
            GOALS
        </div>
        <div style="height: 40px;
                    width:90px;
                    border: 1px solid black;
                    display: inline-block;
                    margin-right: 60px;
                    background-color: {{vm.isStageActive('IDEAS_ASKS') ? 'antiquewhite': 'none'}}">
            IDEAS
        </div>
        <div style="height: 40px;
                    width:90px;
                    border: 1px solid black;
                    display: inline-block;
                    margin-right: 60px;
                    background-color: {{vm.isStageActive('TASKS') ? 'antiquewhite': 'none'}}">
            TASKS
        </div>


        <div style="height: 40px;
                    width:90px;
                    border: 1px solid black;
                    display: inline-block;
                    margin-right: 60px;
                    background-color: {{vm.isStageActive('ASSIGNMENT') ? 'antiquewhite': 'none'}}">
            ASSIGNMENT
        </div>

        <button style="height: 40px;
                       width:90px;
                       display: inline-block;"
                       ng-click="vm.activateNextStage()">
            NEXT 
        </button>
    </div>
</section>

<!-- main content -->
<section class="row" style="border-top: 1px solid black;">
    <!-- main content -->
    <main class="col-md-10 col-md-offset-1" style="padding:24px;padding-top: 0px;">
        <!-- Goals Table-->
        <div class="row" ng-if="vm.sprint.goals.length > 0">
            <div class="col-md-6 col-md-offset-3" 
                 style="border: 1px solid black; 
                        border-top: none;">
                <h3 style="text-align: center;">
                    Goals 
                </h3>
                <ul style="list-style-position: inside;
                        list-style-type: upper-roman;">
                    <li ng-repeat="goal in vm.sprint.goals track by $index">
                        {{goal}}
                    </li>
                </ul>
            </div>
        </div>        

        <!-- 1. Establish Goals -->
        <div ng-if="vm.stageSectionsVisibility.GOALS"
             class="row" 
             style="margin-top:30px;
                    border: 1px solid black;
                    padding: 16px;">
            <div class="row">
                <h4 class="col-md-10">
                    Establish your goals
                </h4>
                <div class="col-md-2">
                    <!--Visible if next stage is active-->
                    <button ng-if="vm.isStageActive('IDEAS_ASKS')"
                            ng-click="vm.stageSectionsVisibility.GOALS = false;"
                            style="position: absolute; right: 1px;">
                        /\
                    </button>
                </div>
            </div>
            
            <input type="text" placeholder="Type your goal here" 
                   ng-model="vm.newGoal">
            <button class="btn btn-default" 
                    ng-click="vm.addGoal()">Add</button>

            <ul style="list-style-position: inside;
                       list-style-type: upper-roman;">
                <div ng-repeat="goal in vm.sprint.goals track by $index">
                    <li style="display: inline;">{{goal}}</li>
                    <button class="btn btn-danger" 
                            ng-click="vm.removeGoal(goal)"
                            style="height: 20px;
                                    padding-top: 0px;
                                    padding-bottom: 0px;
                                    display: inline-block;
                                    width: 62px;
                                    text-align: center;
                                    padding-left: 0px;
                                    padding-right: 0px;">
                        DELETE
                    </button>
                </div>     
            </ul>
        </div>
        <!-- 1. Establish Goals - if hidden -->
        <div ng-if="!vm.stageSectionsVisibility.GOALS"
             class="row" 
             style="border: 1px solid black; 
                    margin-top:30px; 
                    height: 30px;
                    position: relative;">
            <span>
                Establish your goals
            </span>
            <button ng-click="vm.stageSectionsVisibility.GOALS = true;"
                    style="position: absolute; right: 1px;">
                \/
            </button>
        </div>

        <!-- 2. Create Ideas and Asks -->
        <div ng-if="vm.isStageActive('IDEAS_ASKS') && 
                    vm.stageSectionsVisibility.IDEAS_ASKS"
             class="row" 
             style="margin-top:30px;
                    border: 1px solid black;
                    padding: 16px;">
            <div class="row">
                <h4 class="col-md-10">
                    Ideas and Discussions
                </h4>
                <div class="col-md-2">
                    <!--Visible if next stage is active-->
                    <button ng-if="vm.isStageActive('TASKS')"
                            ng-click="vm.stageSectionsVisibility.IDEAS_ASKS = false;"
                            style="position: absolute; right: 1px;">
                        /\
                    </button>
                </div>
            </div>
            <div style="margin-top:30px;" class="row">
                <!-- Ideas -->
                <div class="col-md-7">
                    <!-- Create New Idea -->
                    <new-idea title="New Idea"
                        alt-id="0" sprint="vm.sprint._id"
                        style="margin-top: 16px;margin-bottom: 16px;">
                    </new-idea>                   
                    
                    <div ng-repeat="idea in vm.ideas">
                        <button ng-click="vm.removeFromThisSprint(idea._id)"
                                class="btn btn-danger" 
                                style="display: inline-block;
                                        padding-top: 0px;
                                        padding-bottom: 0px;">
                            X
                        </button>
                        <div ng-click="vm.activateIdea(idea)" 
                             style="cursor: pointer; display: inline-block;">
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                {{idea.number}}
                            </span>
                            <span style="font-size: 18px;">{{idea.title}}</span>
                            <span class="idea-status idea-status-{{idea.getStatusName()}}">
                                {{idea.getStatusName()}}
                            </span>
                        </div> 
                    </div>
                          
                </div>

                <!-- Discussions -->
                <div class="col-md-5">
                    <!-- Create New Ask -->
                    <new-ask title="New Ask" sprint="vm.sprint.number" alt-id="0"> 
                    </new-ask>

                    <!-- Moze po najechaniu na element aska w jakis sposob
                    na liscie obok podswietli sie idea z nim powiazany -->
                    <div>
                        <span style="background:rgba(161,134,190,.2);
                                    padding:2px 7px;">
                            113 
                        </span>
                        <span>Lorem ipsum dolor sit amet, consectetur </span>
                    </div>
                    <div>
                        <span style="background:rgba(161,134,190,.2);
                                    padding:2px 7px;">
                            993 
                        </span>
                        <span>Lorem ipsum dolor sit amet, consectetur </span>
                    </div>
                    <div>
                        <span style="background:rgba(161,134,190,.2);
                                    padding:2px 7px;">
                            122 
                        </span>
                        <span>Lorem ipsum dolor sit amet, consectetur </span>
                    </div>
                </div>
            </div>            
            
            <!-- Deferred Ideas -->
            <div style="margin-top:30px;" class="row">
                <div class="col-md-7">
                    <h3>
                        Deferred Ideas
                    </h3>
                    <div ng-repeat="defIdea in vm.deferredIdeas"
                         ng-click="vm.activateIdea(defIdea)" style="cursor: pointer">
                        <span style="background:rgba(161,134,190,.2);
                                    padding:2px 7px;">
                            {{defIdea.number}}
                        </span>
                        <span style="font-size: 18px;">{{defIdea.title}}</span>
                        <span class="idea-status idea-status-{{defIdea.getStatusName()}}">
                            {{defIdea.getStatusName()}}
                        </span>
                    </div>
                </div>
                <div class="col-md-5" ng-if="vm.activeIdea">
                    <a href="#/{{vm.activeIdea.id}}" 
                       target="_blank" class="btn btn-success">
                        Details
                    </a>
                    <button ng-click="vm.addToThisSprint(vm.activeIdea._id)"
                            class="btn btn-warning">
                        Add to this sprint
                    </button>
                    <h4>
                        Description
                    </h4>
                    <div text-angular ng-model="vm.activeIdea.description" 
                        ta-disabled="true" ta-toolbar="false"
                        class="description"></div>
                </div>
            </div>
            
        </div>
        <!-- 2. Create Ideas and Asks - if hidden -->
        <div ng-if="vm.isStageActive('IDEAS_ASKS') && 
                    !vm.stageSectionsVisibility.IDEAS_ASKS"
             class="row" 
             style="border: 1px solid black; 
                    margin-top:30px; 
                    height: 30px;
                    position: relative;">
            <span>
                Ideas and Discussions
            </span>
            <button ng-click="vm.stageSectionsVisibility.IDEAS_ASKS = true;"
                    style="position: absolute; right: 1px;">
                \/
            </button>
        </div>

        <!-- 3. Create Tasks -->
        <div ng-if="vm.isStageActive('TASKS') && 
                     vm.stageSectionsVisibility.TASKS"
             class="row" 
             style="margin-top:30px;
                    border: 1px solid black;
                    padding: 16px;">
            <div class="row">
                <h4 class="col-md-10">
                    Create Tasks
                </h4>
                <div class="col-md-2">
                    <button ng-if="vm.isStageActive('ASSIGNMENT')"
                            ng-click="vm.stageSectionsVisibility.TASKS = false;"
                            style="position: absolute; right: 1px;">
                        /\
                    </button>
                </div>
            </div>

            <!-- Some Main Idea -->
            <div>
                <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                    133 
                </span>
                <span style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur </span>
                <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>
            </div>
            <!-- Tasks for Idea above-->
            <div style="padding-left: 32px;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: green;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        113 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                </div>
                
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: green;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        113 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                </div>
            </div>
            <!-- Sub Ideas-->
            <div style="padding-left: 32px;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        113 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        993 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>

                    <!-- Tasks for Idea above-->
                    <div style="padding-left: 32px;">
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                        </div>
                        
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        122 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>
                </div>
                <!-- Tasks for Idea above-->
                <div style="padding-left: 32px;">
                    <div style="margin-top: 10px;margin-bottom: 10px;">
                        <span style="background-color: green;
                                    margin-right: 5px;">&nbsp;</span>
                        <span style="background:rgba(161,134,190,.2);
                                    padding:2px 7px;">
                            113 
                        </span>
                        <span>Lorem ipsum dolor sit amet, consectetur </span>
                    </div>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        13 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>
                </div>
            </div>       

            <!-- Some Main Idea -->
            <div>
                <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                    133 
                </span>
                <span style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur </span>
                <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>
            </div>
            <!-- Sub Ideas-->
            <div style="padding-left: 32px;">                                
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: orange;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        122 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: orange;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        13 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: green;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">T</button>

                    <!-- Tasks for Idea above-->
                    <div style="padding-left: 32px;">
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                        </div>
                        
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- 3. Create Tasks - if hidden -->
        <div ng-if="vm.isStageActive('TASKS') && 
                    !vm.stageSectionsVisibility.TASKS"
             class="row" 
             style="border: 1px solid black; 
                    margin-top:30px; 
                    height: 30px;
                    position: relative;">
            <span>
                 Create Tasks
            </span>
            <button ng-click="vm.stageSectionsVisibility.TASKS = true;"
                    style="position: absolute; right: 1px;">
                \/
            </button>
        </div>

        <!-- 4. Assign and Estimate Tasks -->
        <div ng-if="vm.isStageActive('ASSIGNMENT') && 
                     vm.stageSectionsVisibility.ASSIGNMENT"
             class="row" 
             style="margin-top:30px;
                    border: 1px solid black;
                    padding: 16px;">
            <div class="row">
                <h4 class="col-md-10">
                   	Task Assignement and Estimation
                </h4>
                <div class="col-md-2">
                    <button ng-click="vm.stageSectionsVisibility.ASSIGNMENT = false;"
                            style="position: absolute; right: 1px;">
                        /\
                    </button>
                </div>
            </div>
            
            <!-- Some Main Idea -->
            <div>
                <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                    133 
                </span>
                <span style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur </span>
            </div>
            <!-- Easks for Idea above-->
            <div style="padding-left: 32px;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: green;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        113 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                </div>
                
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: green;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        113 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                    <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                </div>
            </div>
            <!-- Sub Ideas-->
            <div style="padding-left: 32px;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        113 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        993 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>

                    <!-- Easks for Idea above-->
                    <div style="padding-left: 32px;">
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                            <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                        </div>
                        
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                            <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        122 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                </div>
                <!-- Tasks for Idea above-->
                <div style="padding-left: 32px;">
                    <div style="margin-top: 10px;margin-bottom: 10px;">
                        <span style="background-color: green;
                                    margin-right: 5px;">&nbsp;</span>
                        <span style="background:rgba(161,134,190,.2);
                                    padding:2px 7px;">
                            113 
                        </span>
                        <span>Lorem ipsum dolor sit amet, consectetur </span>
                        <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                    </div>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="
                    background-color: orange;
                    margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        13 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                </div>
            </div>       

            <!-- Some Main Idea -->
            <div>
                <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                    133 
                </span>
                <span style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur </span>
            </div>
            <!-- Sub Ideas-->
            <div style="padding-left: 32px;">                                
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: orange;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        122 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <span style="background-color: orange;
                                 margin-right: 5px;">&nbsp;</span>
                    <span style="background:rgba(161,134,190,.2);
                                padding:2px 7px;">
                        13 
                    </span>
                    <span>Lorem ipsum dolor sit amet, consectetur </span>                    

                    <!-- Easks for Idea above-->
                    <div style="padding-left: 32px;">
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                            <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                        </div>
                        
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <span style="background-color: green;
                                        margin-right: 5px;">&nbsp;</span>
                            <span style="background:rgba(161,134,190,.2);
                                        padding:2px 7px;">
                                113 
                            </span>
                            <span>Lorem ipsum dolor sit amet, consectetur </span>
                            <button style="background-color: #c2dfe4;
                               color: white;
                               height: 21px;
                               padding-bottom: 0px;
                               padding-top: 0px;">E</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- 4. Assign and Estimate Tasks - if hidden -->
        <div ng-if="vm.isStageActive('ASSIGNMENT') && 
                    !vm.stageSectionsVisibility.ASSIGNMENT"
             class="row" 
             style="border: 1px solid black; 
                    margin-top:30px; 
                    height: 30px;
                    position: relative;">
            <span>
                 Task Assignement and Estimation
            </span>
            <button ng-click="vm.stageSectionsVisibility.ASSIGNMENT = true;"
                    style="position: absolute; right: 1px;">
                \/
            </button>
        </div>
    </main>
</section>
<style>
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>