<div ng-controller="globalCtrl as globalVm" ng-switch="globalVm.userLogIn()">
    <!--*** DASHBOARD *** -->

    <!-- 1) PINNED -->
    <span ng-switch-when="true">
        PINNED
        <ul class="list-group" style="background-color: white;
                border: 1px solid black;
                margin: 4px;
                padding: 10px;" ng-if="globalVm.tacks.length > 0">
            <li class="list-group-item" ng-repeat="tack in globalVm.tacks" style="border-bottom: 1px dashed grey;">
                <span class="project-badge ng-binding" data-toggle="tooltip" title="Vesta">
                    {{tack.projectPrefix}}
                </span>
                {{tack.content}} <span class="badge" ng-if="tack.important">!</span>
            </li>
        </ul>  

        <!-- 2) ADD POST -->
        <form novalidate name="newPost">
            <textarea cols="30" rows="10" placeholder="Type post here..." 
                      class="form-control" style="resize: none" required 
                      ng-model="globalVm.post.content">
            </textarea>
            <label for="">Project</label>
            <select ng-options="project._id as project.name for project in globalVm.projects track by project._id" ng-model="globalVm.post.projectId" class="form-control" required>
                <option value="">Pick Project...</option>
            </select>
            <button class="btn btn-default" ng-click="globalVm.addPost(newPost.$valid)">
                Add Post
            </button>
        </form>

    </span><!-- end dashboard -->














    <!-- WSZYSTKO PONIZEJ TO STRONE LOGOWANIA 
         DOCELOWO BEDZIE WYPIERDOLONA Z TEGO HTML'A
         DLATEGO IGNORUJ -->
    <span ng-switch-when="false">
        Maciek wiesniaku zaloguj sie
            <br />
            <pre>
                To jest tworzenie accounta, trzeba to wjebac tak jak to na gorze w lewym
            rogu -> tamto to zewnetrzna biblioteka
            </pre>

            <form ng-submit="globalVm.createAccount()" name="accountCreate" novalidate>

                <label>email</label>
                <input ng-model="globalVm.email" required name="email" />
                <div ng-messages="accountCreate.email.$error" role="alert"
                     ng-show="accountCreate.email.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <label>firstname</label>
                <input ng-model="globalVm.firstname" required name="firstname" />
                <div ng-messages="accountCreate.firstname.$error" role="alert"
                     ng-show="accountCreate.firstname.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <label>lastname</label>
                <input ng-model="globalVm.lastname" required name="lastname" />
                <div ng-messages="accountCreate.lastname.$error"
                     role="alert"
                     ng-show="accountCreate.lastname.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <label>password</label>
                <input ng-model="globalVm.password" type="password"
                       required name="password" />
                <div ng-messages="accountCreate.password.$error" role="alert"
                     ng-show="accountCreate.password.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <input type="submit" value="Add"/>
            </form>
    </span>
</div>
