<div ng-controller="globalCtrl as globalVm" ng-switch="globalVm.userLogIn()"
        class="vst-dashboard-container">

    <!-- Dashboard main section -->
    <section class="vst-dashboard-main">
        <!-- 1) PINNED -->
        <span ng-switch-when="true">
            <!-- 2) ADD POST -->
            <form novalidate name="newPost" id="vst-dashboard-addpost">
                <select ng-options="project._id as project.name for project in globalVm.projects track by project._id" ng-model="globalVm.post.projectId" class="form-control" required>
                    <option value="">Pick Project...</option>
                </select>
                <textarea cols="30" rows="10" placeholder="Type post here..."
                          class="form-control" style="resize: none" required
                          ng-model="globalVm.post.content">
                </textarea>
                <button class="vst-btn" ng-click="globalVm.addPost(newPost.$valid)">
                    Add Post
                </button>
            </form>

            <!-- 3) POSTS LIST -->
            <div class="vst-dashboard-post-container">
                <div ng-repeat="post in globalVm.mainPosts"
                     class="vst-dashboard-post">
                    <header>
                        <h3 class="vst-comment-name">
                            <img src="/images/avatar.jpg" alt="Avatar" class="vst-user-avatar"/>
                            {{post.creator()}}
                        </h3>
                        <p class="vst-comment-addtime">
                            {{globalVm.moment(globalVm.moment.utc(post.creationDate).toDate()).fromNow()}}
                        </p>
                    </header>

                    <span class="project-badge ng-binding" data-toggle="tooltip"
                          title="Vesta">
                        {{post.projectPrefix()}}
                    </span>
                    <div class="vst-dashboard-post-desc">
                        {{post.content}}
                    </div>

                    <button class="vst-btn" ng-click="post.reply = !post.reply">
                        Comment
                    </button>


                    <!-- SUB POST NEW -->
                    <div ng-if="post.reply">
                         <form novalidate name="subpost">
                            <fieldset class="fsStyle">
                                <div class="desc-wrapper">
                                    <textarea class="vst-view-input" cols="30" rows="10"
                                              ng-model="post.subPost" required>
                                    </textarea>
                                    <button class="vst-btn vst-btn-primary"
                                            ng-click="globalVm.addSubPost(
                                                post, subpost.$valid)">
                                        ADD
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <!-- SUB POST LIST -->
                    <div style="padding-left: 40px;">
                        <div ng-repeat="subpost in globalVm.getSubPosts(post._id)"
                            style="position: relative; padding: 24px;">
                            {{subpost.content}}
                            <span style="position: absolute;
                                        right: 180px;
                                        top: 1px;
                                        color: grey;">
                                {{subpost.creator()}}
                            </span>
                            <span style="position: absolute;
                                        right: 40px;
                                        top: 1px;
                                        color: grey;">
                                {{globalVm.moment(globalVm.moment.utc(subpost.creationDate).toDate()).fromNow()}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </section>

    <!-- Dashboard aside -->
    <aside class="vst-dashboard-aside">
        <ul class="list-group" style="background-color: white;
                border: 1px solid black;
                margin: 4px;
                padding: 10px;" ng-if="globalVm.tacks.length > 0">
            <li class="list-group-item" ng-repeat="tack in globalVm.tacks" style="border-bottom: 1px dashed grey;">
                <span class="project-badge ng-binding" data-toggle="tooltip" title="Vesta">
                    {{tack.projectPrefix}}
                </span>
                {{tack.content}} <span class="badge" ng-if="tack.important">!</span>
            </li>
        </ul>
    </aside>

    <!--*** DASHBOARD END *** -->













    <!-- WSZYSTKO PONIZEJ TO STRONE LOGOWANIA
         DOCELOWO BEDZIE WYPIERDOLONA Z TEGO HTML'A
         DLATEGO IGNORUJ -->
    <span ng-switch-when="false">
        Maciek wiesniaku zaloguj sie
            <br />
            <pre>
                To jest tworzenie accounta, trzeba to wjebac tak jak to na gorze w lewym
            rogu -> tamto to zewnetrzna biblioteka
            </pre>

            <form ng-submit="globalVm.createAccount()" name="accountCreate" novalidate>

                <label>email</label>
                <input ng-model="globalVm.email" required name="email" />
                <div ng-messages="accountCreate.email.$error" role="alert"
                     ng-show="accountCreate.email.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <label>firstname</label>
                <input ng-model="globalVm.firstname" required name="firstname" />
                <div ng-messages="accountCreate.firstname.$error" role="alert"
                     ng-show="accountCreate.firstname.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <label>lastname</label>
                <input ng-model="globalVm.lastname" required name="lastname" />
                <div ng-messages="accountCreate.lastname.$error"
                     role="alert"
                     ng-show="accountCreate.lastname.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <label>password</label>
                <input ng-model="globalVm.password" type="password"
                       required name="password" />
                <div ng-messages="accountCreate.password.$error" role="alert"
                     ng-show="accountCreate.password.$touched || accountCreate.$submitted">
                    <div ng-message="required" style="color:red">
                            Please enter a value for this field.
                    </div>
                </div>

                <input type="submit" value="Add"/>
            </form>
    </span>
</div>
