<div class="vst-dashboard-container">
    <div class="vst-row">
        <!-- News wrapper - request, vote etc -->
        <section class="vst-news-wrapper-dash" ng-if="vm.requests.length > 0">
            <h3>- Requests waiting for my decision -</h3>
            <div class="vst-requests-wrapper" ng-repeat="request in vm.requests">
                <p class="vst-request-mine-dash">
                    <span class="id">[ {{request.ideaId}} ]</span>
                    <span class="user">{{request.getUserName()}}</span>
                    want to
                    <span class="request-desc">{{vm.requestDesc(request.requestTypeId)}}</span>
                    because:
                    <span class="explenation">{{request.explanation}}</span>
                    <a href="#/{{request.ideaId}}" class="vst-btn-request">check it</a>
                </p>
            </div>
        </section>
    </div>
    <div class="vst-row">
        <!-- Task, Idea, Ask wrapper -->
        <section class="vst-moduleAll-wrapper-dash">
            <div class="vst-row">
                <!-- Task -->
                <div class="vst-module-dash task">
                    <h2 class="vst-module-title task">
                        <img src="/images/icon-Task-small.png" alt="Task main icon" />
                        Tasks
                    </h2>

                    <div class="vst-list-item"
                         ng-repeat="task in vm.tasks | orderBy:
                            [vm.statusFilter, '-updatedAt', '-creationDate']">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#/task/{{task.number}}">
                                <p>
                                    <span class="vst-entity-number">#{{task.number}}</span>
                                    {{task.title}}
                                </p>
                            </a>
                        </div>
                        <div class="type">
                            <a href="#/task/{{task.number}}">{{task.getTypeName()}}</a>
                        </div>
                        <div class="creator">
                            <a href="#/task/{{task.number}}">{{task.creatorShort()}}</a>
                        </div>
                        <div class="time">
                            <a href="#/task/{{task.number}}">
                                {{vm.moment(vm.moment.utc(task.creationDate)
                                    .toDate()).fromNow()}}
                            </a>
                        </div>
                        <div class="vst-priority">
                            <a href="#/task/{{task.number}}">
                                <div class="priority priority-{{task.priority}}"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vst-row">
                <!-- Idea -->
                <div class="vst-module-dash idea">
                    <h2 class="vst-module-title idea">
                        <img src="/images/icon-Idea-small.png" alt="Idea main icon" />
                        Ideas
                    </h2>

                    <div class="vst-list-item"
                         ng-repeat="idea in vm.ideas| orderBy:
                            ['-updatedAt', '-creationDate']"
                         ng-if="idea.sprint === vm.project.currentSprint">
                        <div class="vst-badge">
                            <span class="project-badge">
                                {{idea.projectName()[0].toUpperCase()}}
                            </span>
                        </div>
                        <div class="title">
                            <a href="#/idea/{{idea.number}}">
                                <p>
                                    <span class="vst-entity-number">#{{idea.number}}</span>
                                    {{idea.title}}
                                </p>
                            </a>
                        </div>
                        <div class="vst-status">
                            <a href="#/idea/{{idea.number}}">
                                <span class="idea-status idea-status-{{idea.getStatusName()}}">
                                    {{idea.getStatusName()}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Ask -->
                <div class="vst-module-dash ask">
                    <h2 class="vst-module-title ask">
                        <img src="/images/icon-Ask-small.png" alt="Ask main icon" />
                        Asks
                    </h2>

                    <div class="vst-list-item"
                        ng-repeat="ask in vm.asks| orderBy:
                            ['-creationDate']">
                        <div class="vst-badge">
                            <span class="project-badge">
                                {{ask.projectName()[0].toUpperCase()}}
                            </span>
                        </div>
                        <div class="title">
                            <a href="#/ask/{{ask.number}}">
                                <p>
                                    <span class="vst-entity-number">#{{ask.number}}</span>
                                    {{ask.title}}
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Pinned wrapper -->
        <aside class="vst-pinned-wrapper-dash">

            <!-- Wpierdollem tu pinned z dashboardu z postami ale cos nie chce gowno dzialac:D -->
            <ul class="list-group" style="background-color: white;
                    border: 1px solid black;
                    margin: 4px;
                    padding: 10px;" ng-if="vm.tacks.length > 0">
                <li class="list-group-item"
                    ng-repeat="tack in vm.tacks"
                    style="border-bottom: 1px dashed grey;">
                    <span class="project-badge ng-binding" data-toggle="tooltip" title="Vesta">
                        {{tack.projectPrefix}}
                    </span>
                    {{tack.content}} <span class="badge" ng-if="tack.important">!</span>
                </li>
            </ul>
        </aside>
    </div>
</div>


<section ng-if="vm.myRequests.length > 0">
    <table class="table">
        <caption>My Requests</caption>
        <thead>
            <tr>
                <th>What</th>
                <th>Where</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="request in vm.myRequests | orderBy: 'resultId'">
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{vm.requestDesc(request.requestTypeId)}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.ideaId}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.explanation}}
                    </a>
                </td>
                <td>
                    <a href="#/{{request.ideaId}}">
                        {{request.getResultDescription()}}
                    </a>
                </td>
                <td ng-if="request.resultId !== 1">
                    <button ng-click="vm.removeRequest(request._id)">
                        SEEN
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>


<!--taka sama lista jest wyzej-->
<!--<task-list title="Tasks Assigned To Me"
    filter="vm.assignedToMeFilter"></task-list>-->

<!--taka sama lista jest wyzej-->
<!--<idea-list filter="{ status: { $in: [1, 6, 2, 7, 8] } }"></idea-list>-->

<!--taka sama lista jest wyzej-->
<!--<ask-list filter="{ status: { $in: [1, 2] } }"></ask-list>-->

<task-list filter="{ status: { $in: [1, 2] } }"></task-list>
