<section ng-if="vm.requests.length > 0">
    <!-- Active Requests List -->
    <table class="table">
        <caption>Requests waiting for my decision !</caption>
        <thead>
            <tr>
                <th>Who</th>
                <th>What</th>
                <th>Where</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="request in vm.requests">                
                <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.getUserName()}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{vm.requestDesc(request.requestTypeId)}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.ideaId}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.explanation}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<task-list title="Tasks Assigned To Me" 
    filter="vm.assignedToMeFilter"></task-list>
<idea-list filter="{ status: { $in: [1, 6, 2, 7, 8] } }"></idea-list>
<ask-list filter="{ status: { $in: [1, 2] } }"></ask-list>
<task-list filter="{ status: { $in: [1, 2] } }"></task-list>
