<div class="vst-dashboard-container">
    <div class="vst-row">
        <!-- News wrapper - request, vote etc -->
        <section class="vst-news-wrapper-dash" ng-if="vm.requests.length > 0">
            <h3>- Requests waiting for my decision -</h3>
            <div class="vst-requests-wrapper" ng-repeat="request in vm.requests">
                <p class="vst-request-mine-dash">
                    <span class="id">[ {{request.ideaId}} ]</span>
                    <span class="user">{{request.getUserName()}}</span>
                    want to
                    <span class="request-desc">{{vm.requestDesc(request.requestTypeId)}}</span>
                    because:
                    <span class="explenation">{{request.explanation}}</span>
                    <a href="#/{{request.ideaId}}" class="vst-btn-request">check it</a>
                </p>
            </div>
        </section>
    </div>
    <div class="vst-row">
        <!-- Task, Idea, Ask wrapper -->
        <section class="vst-moduleAll-wrapper-dash">
            <div class="vst-row">
                <!-- Task -->
                <div class="vst-module-dash task">
                    <h2 class="vst-module-title task">Tasks</h2>

                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony, kiedy ten chce zobaczyć sam jej wygląd.
                                    Jedną z mocnych stron używania Lorem
                                </p>
                            </a>
                        </div>
                        <div class="type">
                            <a href="#">feature</a>
                        </div>
                        <div class="creator">
                            <a href="#">M. Chmiel</a>
                        </div>
                        <div class="time">
                            <a href="#">8 min ago</a>
                        </div>
                        <div class="vst-priority">
                            <a href="#">
                                <div class="priority priority-Normal"></div>
                            </a>
                        </div>
                    </div>

                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony, kiedy ten chce zobaczyć sam jej wygląd.
                                    Jedną z mocnych stron używania Lorem
                                </p>
                            </a>
                        </div>
                        <div class="type">
                            <a href="#">feature</a>
                        </div>
                        <div class="creator">
                            <a href="#">M. Chmiel</a>
                        </div>
                        <div class="time">
                            <a href="#">8 min ago</a>
                        </div>
                        <div class="vst-priority">
                            <a href="#">
                                <div class="priority priority-High"></div>
                            </a>
                        </div>
                    </div>
                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony, kiedy ten chce zobaczyć sam jej wygląd.
                                    Jedną z mocnych stron używania Lorem
                                </p>
                            </a>
                        </div>
                        <div class="type">
                            <a href="#">feature</a>
                        </div>
                        <div class="creator">
                            <a href="#">M. Chmiel</a>
                        </div>
                        <div class="time">
                            <a href="#">8 min ago</a>
                        </div>
                        <div class="vst-priority">
                            <a href="#">
                                <div class="priority priority-Low"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vst-row">
                <!-- Idea -->
                <div class="vst-module-dash idea">
                    <h2 class="vst-module-title idea">Ideas</h2>

                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony, kiedy ten chce zobaczyć sam jej wygląd.
                                    Jedną z mocnych stron używania Lorem
                                </p>
                            </a>
                        </div>
                        <div class="vst-status">
                            <a href="#">
                                <span class="idea-status idea-status-New"> New </span>
                            </a>
                        </div>
                    </div>

                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony,
                                </p>
                            </a>
                        </div>
                        <div class="vst-status">
                            <a href="#">
                                <span class="idea-status idea-status-Working"> Working </span>
                            </a>
                        </div>
                    </div>
                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony,
                                </p>
                            </a>
                        </div>
                        <div class="vst-status">
                            <a href="#">
                                <span class="idea-status idea-status-Implemented"> Implemented </span>
                            </a>
                        </div>
                    </div>
                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony,
                                </p>
                            </a>
                        </div>
                        <div class="vst-status">
                            <a href="#">
                                <span class="idea-status idea-status-Consider"> Consider </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Ask -->
                <div class="vst-module-dash ask">
                    <h2 class="vst-module-title ask">Asks</h2>

                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony,
                                </p>
                            </a>
                        </div>
                    </div>

                    <div class="vst-list-item">
                        <div class="vst-badge">
                            <span class="project-badge">V</span>
                        </div>
                        <div class="title">
                            <a href="#">
                                <p>
                                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać
                                    zrozumiała zawartość strony, kiedy
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Pinned wrapper -->
        <aside class="vst-pinned-wrapper-dash">

            <!-- Wpierdollem tu pinned z dashboardu z postami ale cos nie chce gowno dzialac:D -->
            <ul class="list-group" style="background-color: white;
                    border: 1px solid black;
                    margin: 4px;
                    padding: 10px;" ng-if="globalVm.tacks.length > 0">
                <li class="list-group-item" ng-repeat="tack in globalVm.tacks" style="border-bottom: 1px dashed grey;">
                    <span class="project-badge ng-binding" data-toggle="tooltip" title="Vesta">
                        {{tack.projectPrefix}}
                    </span>
                    {{tack.content}} <span class="badge" ng-if="tack.important">!</span>
                </li>
            </ul>
        </aside>
    </div>
</div>


<section ng-if="vm.myRequests.length > 0">
    <table class="table">
        <caption>My Requests</caption>
        <thead>
            <tr>
                <th>What</th>
                <th>Where</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="request in vm.myRequests | orderBy: 'resultId'">
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{vm.requestDesc(request.requestTypeId)}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.ideaId}}
                    </a>
                </td>
                 <td>
                     <a href="#/{{request.ideaId}}">
                        {{request.explanation}}
                    </a>
                </td>
                <td>
                    <a href="#/{{request.ideaId}}">
                        {{request.getResultDescription()}}
                    </a>
                </td>
                <td ng-if="request.resultId !== 1">
                    <button ng-click="vm.removeRequest(request._id)">
                        SEEN
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<task-list title="Tasks Assigned To Me"
    filter="vm.assignedToMeFilter"></task-list>
<idea-list filter="{ status: { $in: [1, 6, 2, 7, 8] } }"></idea-list>
<ask-list filter="{ status: { $in: [1, 2] } }"></ask-list>
<task-list filter="{ status: { $in: [1, 2] } }"></task-list>
