<table class="table" ng-switch="">
    <caption class="task-caption">{{$ctrl.title}}</caption>
    <thead>
        <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Number</th>
            <th>Priority</th>
            <th>Type</th>
            <th ng-if="$ctrl.hasFilter()">Created By</th>
            <th ng-if="!$ctrl.hasFilter()">Assigned</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in $ctrl.tasks |
            orderBy: [$ctrl.statusFilter, '-updatedAt', '-creationDate']" style="opacity: {{$ctrl.getStatusColor(task.status)}}" ng-if="task.sprint === $ctrl.project.currentSprint">
            <td>
                <span class="module-badge module-badge-task">
                    <img src="/images/icon-Task-small.png" alt="Task main icon" />
                </span>
                <a href="#/task/{{task.number}}">
                    <span class="project-badge" data-toggle="tooltip"
                          title="{{task.projectName()}}">
                              {{task.projectName()[0].toUpperCase()}}
                          </span>
                </a>
            </td>
            <td>
                <a href="#/task/{{task.number}}">
                    <span ng-if="task.isNew" style="color: #00C4FF; font-size: .7em; font-weight: 700;">FRESH</span> {{task.title}}
                </a>
            </td>
            <td>
                <a href="#/task/{{task.number}}" style="color:rgba(161,134,190,1); font-weight: 700;">
                    <span style="background: rgba(161,134,190,0.2); padding: 2px 7px;">
                        {{task.number}}
                    </span>
                </a>
            </td>
            <td class="middle">
                <a href="#/task/{{task.number}}">
                    <div class="priority priority-{{task.priority}}"></div>
                </a>
            </td>
            <td>
                <a href="#/task/{{task.number}}">
                    {{task.getTypeName()}}
                </a>
            </td>
            <td ng-if="$ctrl.hasFilter()" data-toggle="tooltip" title="{{task.creator()}}">
                <a href="/task/{{task.number}}">
                    {{task.creatorShort()}}
                </a>
            </td>
            <td ng-if="!$ctrl.hasFilter()" data-toggle="tooltip" title="{{task.assignedUser()}}">
                <a href="#/task/{{task.number}}">
                {{task.assignedUserShort()}}
                </a>
            </td>
            <td>
                <a href="#/task/{{task.number}}">
                	{{$ctrl.moment($ctrl.moment.utc(task.creationDate).toDate()).fromNow()}}
                </a>
            </td>
        </tr>
    </tbody>
</table>
