<div id="edit">
    <div id="opis" onClick="this.contentEditable='true';" style="margin-bottom: 20px;min-height: 50px; border: 1px dashed red;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>
<div style="display: flex; align-items: center; justify-content: center; width:30%; height:70px; background: #eee; border: 1px dashed blue; margin-top: 40px" id="dropzone">
    <p>Drag and drop</p>
</div>
<br />
<button ng-click="vm.add()">
    {{confirmText || 'Provide text for button with attribute confirm-text="sth"'}}
</button>
<br />