<div class="VST-view-container VST-ask-container">
    <!-- Ask header -->
    <section class="VST-view-header row">
        <div class="logo-wrapper">
            <img src="/images/icon-Ask.png" alt="Ask main icon" />
            <h1>ask</h1>
        </div>
        <header>

        </header>
    </section>

    <section class="VST-view-content">
        <!-- Ask description -->
        <section class="VST-view-desc">
            <!-- Number -->
            <div class="VST-view-number">
                <span class="VST-module-id">#{{$ctrl.ask.id}}</span>
                <span class="VST-module-date"><span>created at</span> {{$ctrl.ask.creationDate | date: 'dd.MM.yy'}}</span>
            </div>

            <!-- Breadcrumb -->
            <div class="VST-view-project-path">
                <h3 id="project">
                    <span class="project-badge">v</span>{{$ctrl.ask.projectName()}}
                </h3>
                <h3 id="module">{{$ctrl.ask.moduleName()}}</h3>
            </div>

            <header>
                <p>Title:</p>
                <h4>[{{$ctrl.ask.number}}] {{$ctrl.ask.title}}</h4>
            </header>

            <!-- Description wrapper -->
            <div class="VST-view-desc-wrapper">
                <!-- Buttons -->
                <div class="btn-group-desc" ng-switch="$ctrl.descriptionEdited">
                    <button type="button" name="button" class="btn-edit" ng-switch-when="false" ng-click="$ctrl.editDescription()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                    <button type="button" name="button" class="btn-save" ng-switch-when="true" ng-click="$ctrl.saveDescription()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                </div>
                <!-- Description -->
                <div text-angular ng-model="$ctrl.ask.description" ta-disabled="!$ctrl.descriptionEdited" class="description" ta-toolbar="[['h1','h2','h3','pre'],['bold','italics', 'underline', 'strikeThrough', 'ul', 'ol', 'clear'],['html', 'insertImage', 'insertLink']]"></div>
            </div>

            <!-- Buttons -->
            <div class="buttons">
                <!-- Button trigger modal -->
                <button type="button" class="VST-btn VST-btn-default" data-toggle="modal" data-target="#deleteAskModal">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <!-- DELETE Modal -->
                <div class="modal fade" id="deleteAskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Remove Ask</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this ask ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.removeAsk()">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success" data-toggle="modal" data-target="#closeAskModal" type="button" ng-if="$ctrl.ask.status === 2">
                    Close
                </button>
                <!-- Close Modal -->
                <div class="modal fade" id="closeAskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Close Discussion</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to close this discussion ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-success" ng-click="$ctrl.closeAsk()" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Info box -->
        <section class="VST-view-info-box">
            <!--STATUS !!!-->
            STATUS: {{$ctrl.ask.getStatusName()}}
        </section>
    </section>

    <section class="VST-view-aditional">
        <!-- Responses -->
        <section class="responses-wrapper col-md-8">

            <!-- Ta sekcja ponizej jest klonowana dla kazdego responsa-->
            <section class="added-response" ng-repeat="response in $ctrl.mainResponses" id="response.number">
                <div class="response-header">
                    <div class="response-number">#{{response.number}}</div>
                    <div class="response-name">{{response.creatorShort()}}</div>
                    <div class="response-addTime">{{$ctrl.moment(response.creationDate).fromNow()}}</div>
                </div>

                <div class="response-desc">
                    <div>
                        <div class="gowno">
                            <!-- Response Likes -->
                            {{response.likes.length ? response.likes.length : 0}}
                            <button ng-click="$ctrl.likeDislikeResponse(response, true)" ng-disabled="!$ctrl.canLike(response)" ng-if="!$ctrl.alreadyLiked(response)">+</button>
                            <button ng-if="$ctrl.alreadyLiked(response)" ng-click="$ctrl.stopLiking(response)">Stop like</button>                            /
                            <!-- Response Dislikes -->
                            {{response.dislikes.length ? response.dislikes.length : 0}}
                            <button ng-click="$ctrl.likeDislikeResponse(response, false)" ng-disabled="!$ctrl.canDislike(response)" ng-if="!$ctrl.alreadyDisliked(response)">-</button>
                            <button ng-if="$ctrl.alreadyDisliked(response)" ng-click="$ctrl.stopDisliking(response)">Stop dislike</button>
                            <!-- Save -->
                            <button ng-if="$ctrl.ownerAndEdit(response)" ng-click="$ctrl.saveResponse(response)">
                                S
                            </button>
                            <!-- Edit -->
                            <button ng-if="$ctrl.ownerAndNotEdit(response)" ng-click="response.edited = true;">
                                E
                            </button>
                            <!-- Remove -->
                            <button ng-click="$ctrl.removeResponse(response)" ng-if="$ctrl.currentUserIsPostOwner(response)">
                                Remove
                            </button>
                        </div>
                    </div>
                    <!-- Added Response Title -->
                    <!-- View -->
                    <div class="response-desc-title" ng-if="!response.edited">
                        {{response.title}}
                    </div>
                    <!-- Edit -->
                    <div>
                        <input type="text" ng-model="response.title" ng-if="response.edited">
                    </div>
                    <!-- Added Response Description -->
                    <!-- View -->
                    <div class="response-desc-desc" ng-if="!response.edited">
                        {{response.description}}
                    </div>
                    <!-- Edit -->
                    <div>
                        <textarea ng-if="response.edited" ng-model="response.description" cols="60" rows="7"></textarea>
                    </div>


                    <button class="VST-btn VST-btn-primary" ng-if="!response.parentResponse" ng-click="$ctrl.replingToResponse(response)">
                        Reply
                    </button>
                    <!-- New Sub-Response -->
                    <section class="new-response" ng-if="response.replyVisible">
                        <form novalidate name="subresponse">
                            <!--Description-->
                            <fieldset id="ask_description" class="fsStyle">
                                <div class="desc-wrapper">
                                    <label class="label-modal">Description:</label>
                                    <textarea class="VST-view-input" cols="30" rows="10" ng-model="response.sub.description" required>
                                </textarea>
                                    <button class="VST-btn VST-btn-primary" ng-click="$ctrl.addSubResponse(
                                                response, subresponse.$valid)">
                                        ADD
                                </button>
                                    <button class="VST-btn VST-btn-warning" ng-click="$ctrl.cancelSubResponse(response)">
                                        CANCEL
                                </button>
                                </div>
                            </fieldset>
                        </form>
                    </section>

                    <!-- AAAAAAAAAAAAAAAAAAAAAAAAAAA -->
                    <section class="added-response" ng-repeat="subresponse in $ctrl.getSubResponses(response._id)" id="subresponse.number">
                        <div class="response-header">
                            <div class="response-number">#{{subresponse.number}}</div>
                            <div class="response-name">{{subresponse.creatorShort()}}</div>
                            <div class="response-addTime">{{$ctrl.moment(subresponse.creationDate).fromNow()}}</div>
                        </div>

                        <div class="response-desc">
                            <div>
                                <div class="gowno">
                                    <!-- Save -->
                                    <button ng-if="$ctrl.ownerAndEdit(subresponse)"
                                            ng-click="$ctrl.saveResponse(subresponse)">
                                        S
                                    </button>
                                    <!-- Edit -->
                                    <button ng-if="$ctrl.ownerAndNotEdit(subresponse)"
                                            ng-click="subresponse.edited = true;">
                                        E
                                    </button>
                                    <!-- Remove -->
                                    <button ng-click="$ctrl.removeResponse(subresponse)"
                                            ng-if="$ctrl.currentUserIsPostOwner(subresponse)">
                                        Remove
                                    </button>
                                </div>
                            </div>
                            <!-- Added Response Description -->
                            <!-- View -->
                            <div class="response-desc-desc" ng-if="!subresponse.edited">
                                {{subresponse.description}}
                            </div>
                            <!-- Edit -->
                            <div>
                                <textarea ng-if="subresponse.edited" ng-model="subresponse.description" cols="60" rows="7"></textarea>
                            </div>
                        </div>
                    </section>

                </div>
            </section>

            <!-- Related -->
            <div class="VST-table-wrapper">
                <table class="table">
                    <thead>
                        <tr ng-if="$ctrl.relatedTasks.length + $ctrl.asks.length + $ctrl.relatedIdeas.length > 0">
                            <th></th>
                            <th>Relation</th>
                            <th>Number</th>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ask in $ctrl.relatedAsks">
                            <td>
                                <a href="#/ask/{{ask.number}}">
                                    <span class="module-badge module-badge-ask">
                                <img src="/images/icon-Ask-small.png" alt="Ask main icon" />
                            </span>
                                </a>
                            </td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.relation}}</a></td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.number}}</a></td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.title}}</a></td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.getStatusName()}}</a></td>
                        </tr>
                        <tr ng-repeat="idea in $ctrl.relatedIdeas">
                            <td>
                                <a href="#/idea/{{idea.number}}">
                                    <span class="module-badge module-badge-idea">
                                <img src="/images/icon-Idea-small.png" alt="Idea main icon" />
                            </span>
                                </a>
                            </td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.relation}}</a></td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.number}}</a></td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.title}}</a></td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.getStatusName()}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- New Response -->
            <section class="new-response" ng-if="$ctrl.ask.status !== 3">
                <!--Title-->
                <fieldset id="ask_title" class="fsStyle field-wrapper last">
                    <div class="title-wrapper">
                        <label class="label-modal">Title:</label>
                        <input class="VST-view-input" name="ask_title" type="text" ng-model="$ctrl.response.title" placeholder="Add title here..."
                            required/>
                    </div>
                </fieldset>

                <!--Description-->
                <fieldset id="ask_description" class="fsStyle">
                    <div class="desc-wrapper">
                        <label class="label-modal">Description:</label>
                        <textarea class="VST-view-input" cols="30" rows="10" ng-model="$ctrl.response.description"></textarea>
                        <button class="VST-btn VST-btn-primary" ng-click="$ctrl.addResponse()">ADD</button>
                    </div>
                </fieldset>
            </section>
        </section>

        <!-- Good Points -->
        <section class="goodPoints col-md-4">
            <h2 class="VST-view-subheader">Good points</h2>
            <div class="goodPoints-wrapper">
                <input type="text" ng-model="$ctrl.goodPoint" class="VST-view-input" placeholder="Type good point..." ng-if="$ctrl.ask.status !== 3">
                <button ng-click="$ctrl.addGoodPoint()" class="VST-btn VST-btn-primary glyphicon glyphicon-plus" ng-if="$ctrl.ask.status !== 3"></button>
                <div class="goodPoints-box">
                    <div class="pill" ng-repeat="goodPoint in $ctrl.ask.goodPoints">
                        <span class="glyphicon glyphicon-ok"></span> {{goodPoint}}
                        <button ng-click="$ctrl.removeGoodPoint(goodPoint)" class="glyphicon glyphicon-remove"></button>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
