<div class="vst-view-container vst-ask-container">
    <section class="vst-view-content">
        <!-- Ask description -->
        <section class="vst-view-desc">
            <!-- Breadcrumb -->
            <div class="vst-view-project-path">
                <h3 id="project">
                    <span class="project-badge">v</span>{{$ctrl.ask.projectName()}}
                </h3>
                <h3 id="module">{{$ctrl.ask.moduleName()}}</h3>
            </div>

            <header>
                <h4>[{{$ctrl.ask.number}}] {{$ctrl.ask.title}}</h4>
            </header>

            <!-- Description wrapper -->
            <div class="vst-view-desc-wrapper">
                <!-- Buttons -->
                <div class="btn-group-desc" ng-switch="$ctrl.descriptionEdited">
                    <button type="button" name="button" class="btn-edit vst-btn-secondary" ng-switch-when="false" ng-click="$ctrl.editDescription()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                    <button type="button" name="button" class="btn-save vst-btn-secondary" ng-switch-when="true" ng-click="$ctrl.saveDescription()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                </div>
                <!-- Description -->
                <div text-angular ng-model="$ctrl.ask.description" ta-disabled="!$ctrl.descriptionEdited" class="description" ta-toolbar="[['h1','h2','h3','pre'],['bold','italics', 'underline', 'strikeThrough', 'ul', 'ol', 'clear'],['html', 'insertImage', 'insertLink']]"></div>
            </div>

            <!-- Buttons -->
            <div class="buttons">

                <button class="btn btn-success" data-toggle="modal" data-target="#closeAskModal" type="button" ng-if="$ctrl.ask.status === 2">
                    Close
                </button>
                <!-- Create New Idea -->
                <new-idea title="Idea" module="{{$ctrl.ask.module}}"
                    project="{{$ctrl.ask.project}}" ask-id="{{$ctrl.ask._id}}"
                    alt-id="0" sprint="$ctrl.ask.sprint">
                </new-idea>
                <!-- Close Modal -->
                <div class="modal fade" id="closeAskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Close Discussion</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to close this discussion ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-success" ng-click="$ctrl.closeAsk()" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Info box -->
        <section class="vst-view-info-box">
            <div class="logo-wrapper">
                <img src="/images/icon-Ask.png" alt="Ask main icon" />
                <h1>ask</h1>
            </div>
            <!-- Number -->
            <div class="vst-view-number">
                <span class="vst-module-id">#{{$ctrl.ask.id}}</span>
                <span class="vst-module-date"><span>created at</span> {{$ctrl.moment($ctrl.ask.creationDate).toDate() | date: 'dd.MM.yy'}}</span>
            </div>
            <!--STATUS !!!-->
            STATUS: {{$ctrl.ask.getStatusName()}}
        </section>
    </section>

    <!-- *********RESPONSES AND TREE*************** -->
    <section class="vst-view-aditional">
        <!-- Responses -->
        <section class="responses-wrapper col-md-8">

            <!-- *********Added response********* -->
            <section class="added-response" ng-repeat="response in $ctrl.mainResponses"
                    id="response.number">

                <header>
                    <div class="vst-comment-aside">
                        <div class="vst-user-avatar">
                            <img src="/images/avatar.jpg" alt="Avatar"/>
                        </div>
                        <div class="vst-push-and-pull">
                            <a href="#" class="push">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </a>
                            <span class="vote-counter">10</span>
                            <a href="#" class="pull">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="vst-comment-creator">{{response.creatorShort()}}</div>
                    <div class="vst-comment-addtime">{{$ctrl.moment($ctrl.moment.utc(response.creationDate).toDate()).fromNow()}}</div>
                </header>

                <div class="vst-comment-btn-group">
                    <!-- Save -->
                    <button ng-if="$ctrl.ownerAndEdit(response)"
                        ng-click="$ctrl.saveResponse(response)"
                        class="vst-btn-secondary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <!-- Edit -->
                    <button ng-if="$ctrl.ownerAndNotEdit(response)"
                        ng-click="response.edited = true;"
                        class="vst-btn-secondary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- Remove -->
                    <button ng-click="$ctrl.removeResponse(response)"
                        ng-if="$ctrl.currentUserIsPostOwner(response)"
                        class="vst-btn-secondary">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>

                <div class="response-desc">
                    <!-- Added Response Title -->
                    <!-- View -->
                    <div class="vst-comment-title" ng-if="!response.edited">
                        <span class="vst-comment-number">#{{response.number}}</span>
                        {{response.title}}
                    </div>
                    <!-- Edit -->
                    <div>
                        <input type="text" ng-model="response.title" ng-if="response.edited">
                    </div>
                    <!-- Added Response Description -->
                    <!-- View -->
                    <div class="vst-comment-desc" ng-if="!response.edited">
                        {{response.description}}
                    </div>
                    <!-- Edit -->
                    <div>
                        <textarea ng-if="response.edited" ng-model="response.description" cols="60" rows="7"></textarea>
                    </div>

                    <div class="vst-btn-group">
                        <a class="vst-link">
                            Replies:
                            <span class="quantity">5</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <button class="vst-btn ask small" ng-if="!response.parentResponse" ng-click="$ctrl.replingToResponse(response)">
                            reply
                        </button>
                    </div>
                </div>
                <!-- *********END Added response********* -->

                <!-- ******Sub-responses******* -->
                <div class="sub-response-wrapper">

                    <!-- Sub responses -->
                    <section class="added-response sub-response" ng-repeat="subresponse in $ctrl.getSubResponses(response._id)" id="subresponse.number">
                        <header>
                            <div class="vst-comment-aside">
                                <div class="vst-user-avatar">
                                    <img src="/images/avatar.jpg" alt="Avatar"/>
                                </div>
                            </div>
                            <div class="vst-comment-creator">{{subresponse.creatorShort()}}</div>
                            <div class="vst-comment-addtime">{{$ctrl.moment($ctrl.moment.utc(subresponse.creationDate).toDate()).fromNow()}}</div>
                        </header>

                        <div class="vst-comment-btn-group">
                            <!-- Save -->
                            <button ng-if="$ctrl.ownerAndEdit(subresponse)"
                                    ng-click="$ctrl.saveResponse(subresponse)"
                                    class="vst-btn-secondary">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                            <!-- Edit -->
                            <button ng-if="$ctrl.ownerAndNotEdit(subresponse)"
                                    ng-click="subresponse.edited = true;"
                                    class="vst-btn-secondary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <!-- Remove -->
                            <button ng-click="$ctrl.removeResponse(subresponse)"
                                    ng-if="$ctrl.currentUserIsPostOwner(subresponse)"
                                    class="vst-btn-secondary">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>

                        <div class="response-desc">
                            <!-- Added Response Description -->
                            <!-- View -->
                            <div class="vst-comment-desc" ng-if="!subresponse.edited">
                                <span class="vst-comment-number">#{{subresponse.number}}</span>
                                {{subresponse.description}}
                            </div>
                            <!-- Edit -->
                            <div>
                                <textarea ng-if="subresponse.edited" ng-model="subresponse.description" cols="60" rows="7"></textarea>
                            </div>
                        </div>
                    </section>

                    <!-- New Sub-Response -->
                    <section class="new-response" ng-if="response.replyVisible">
                        <form novalidate name="subresponse">
                            <!--Description-->
                            <fieldset id="ask_description" class="fsStyle">
                                <div class="desc-wrapper">
                                    <div class="vst-comment-aside">
                                        <div class="vst-user-avatar">
                                            <img src="/images/avatar.jpg" alt="Avatar"/>
                                        </div>
                                    </div>
                                    <textarea class="vst-comment-editible-desc"
                                        cols="30" rows="10" ng-model="response.sub.description"
                                        placeholder="Reply here..." required>
                                    </textarea>
                                    <div class="vst-btn-group">
                                        <button class="vst-btn small ask" ng-click="$ctrl.addSubResponse(
                                                    response, subresponse.$valid)">
                                            add
                                        </button>
                                        <button class="vst-btn small ask" ng-click="$ctrl.cancelSubResponse(response)">
                                            cancel
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </section>
                </div>
                <!-- ******END Sub-responses******* -->
            </section>

            <!-- New Response -->
            <section class="new-response" ng-if="$ctrl.ask.status !== 3">

                <div class="vst-comment-aside">
                    <div class="vst-user-avatar">
                        <img src="/images/avatar.jpg" alt="Avatar"/>
                    </div>
                </div>

                <!--Title-->
                <fieldset id="ask_title" class="fsStyle field-wrapper last">
                    <div class="title-wrapper">
                        <input class="vst-comment-editible-title" name="ask_title" type="text" ng-model="$ctrl.response.title" placeholder="Add title here..."
                            required/>
                    </div>
                </fieldset>

                <!--Description-->
                <fieldset id="ask_description" class="fsStyle">
                    <div class="desc-wrapper">

                        <textarea class="vst-comment-editible-desc" cols="30" rows="10"
                            ng-model="$ctrl.response.description"
                            placeholder="Add comment here...">
                        </textarea>
                        <div class="vst-btn-group">
                            <button class="vst-btn small ask" ng-click="$ctrl.addResponse()">
                                add
                            </button>
                        </div>
                    </div>
                </fieldset>
            </section>
            <!-- *********END RESPONSES AND TREE*************** -->



            <!-- Related -->
            <div class="vst-table-wrapper">
                <table class="table">
                    <thead>
                        <tr ng-if="$ctrl.relatedTasks.length + $ctrl.asks.length + $ctrl.relatedIdeas.length > 0">
                            <th></th>
                            <th>Relation</th>
                            <th>Number</th>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ask in $ctrl.relatedAsks">
                            <td>
                                <a href="#/ask/{{ask.number}}">
                                    <span class="module-badge module-badge-ask">
                                <img src="/images/icon-Ask-small.png" alt="Ask main icon" />
                            </span>
                                </a>
                            </td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.relation}}</a></td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.number}}</a></td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.title}}</a></td>
                            <td><a href="#/ask/{{ask.number}}">{{ask.getStatusName()}}</a></td>
                        </tr>
                        <tr ng-repeat="idea in $ctrl.relatedIdeas">
                            <td>
                                <a href="#/idea/{{idea.number}}">
                                    <span class="module-badge module-badge-idea">
                                <img src="/images/icon-Idea-small.png" alt="Idea main icon" />
                            </span>
                                </a>
                            </td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.relation}}</a></td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.number}}</a></td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.title}}</a></td>
                            <td><a href="#/idea/{{idea.number}}">{{idea.getStatusName()}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </section>

        <!-- Good Points -->
        <section class="goodPoints col-md-4">
            <h2 class="vst-view-subheader">Good points</h2>
            <div class="goodPoints-wrapper">
                <input type="text" ng-model="$ctrl.goodPoint" class="vst-view-input" placeholder="Type good point..." ng-if="$ctrl.ask.status !== 3">
                <button ng-click="$ctrl.addGoodPoint()" class="vst-btn vst-btn-primary glyphicon glyphicon-plus" ng-if="$ctrl.ask.status !== 3"></button>
                <div class="goodPoints-box">
                    <div class="pill" ng-repeat="goodPoint in $ctrl.ask.goodPoints">
                        <span class="glyphicon glyphicon-ok"></span> {{goodPoint}}
                        <button ng-click="$ctrl.removeGoodPoint(goodPoint)" class="glyphicon glyphicon-remove"></button>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
