<button type="button" class="vst-btn vst-btn-menu"
        data-toggle="modal" data-target="#{{newTaskVm.altId}}newTaskModal"
        data-backdrop="false" ng-click="newTaskVm.openModal()">
    {{newTaskVm.title}}
</button>
<!-- Modal -->
<div class="modal fade vst-main-modal" id="{{newTaskVm.altId}}newTaskModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header" style="padding:35px 50px;">
                <!-- Button cancel -->
                <button type="button" class="vst-btn vst-btn-cancel"
                        data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <!-- Logo -->
                <img src="/images/icon-Task-small.png" alt="Idea main icon" />
                <h4>Task<span class="vst-label">new</span></h4>
            </div>

            <div class="modal-body">
                <form name="newTaskForm" novalidate>

                    <!-- Project -->
                    <fieldset id="project" class="field-wrapper">
                        <label class="label-modal">Project:</label>
                        <select ng-model="newTaskVm.task._project" ng-options="project as project.name for project in newTaskVm.projects track by project._id"
                            name="project" required ng-change="newTaskVm.projectSelected()">
                            <option>Choose project...</option>
                        </select>
                        <div class="glyphicon glyphicon-ok-sign" ng-show="newTaskVm.task._project._id"></div>
                    </fieldset>

                    <!-- Module -->
                    <fieldset id="module" class="field-wrapper">
                        <label class="label-modal">Module:</label>
                        <select ng-model="newTaskVm.task.module" ng-options="module._id as module.name for module in newTaskVm.modules track by module._id"
                            name="module" required ng-disabled="!newTaskVm.task._project">
                        </select>
                        <div class="glyphicon glyphicon-ok-sign" ng-show="newTaskVm.task.module"></div>
                    </fieldset>

                    <!--Sprint-->
                    <fieldset id="sprint" class="field-wrapper">
                        <label class="label-modal">Sprint:</label>
                        <select ng-model="newTaskVm.task.sprint" name="sprint" required
                                ng-options="sprint as sprint for sprint in newTaskVm.task._project.sprints"
                                ng-disabled="!newTaskVm.task._project">
                        </select>
                        <div class="glyphicon glyphicon-ok-sign" ng-show="newTaskVm.task.sprint"></div>
                    </fieldset>

                    <!-- Type -->
                    <fieldset id="type" class="field-wrapper">
                        <label class="label-modal">Type:</label>
                        <select ng-model="newTaskVm.task.type" ng-options="type.id as type.value for type in newTaskVm.taskTypes" name="type" required>
                        </select>
                    </fieldset>

                    <!-- Priority -->
                    <fieldset id="priority" class="field-wrapper">
                        <label class="label-modal">Priority:</label>
                        <select ng-model="newTaskVm.task.priority" name="priority"
                             required ng-options="priority as priority for priority in newTaskVm.taskPriority.value">
                        </select>
                    </fieldset>

                    <!-- Assign -->
                    <fieldset id="assign" class="field-wrapper">
                        <label class="label-modal">
                            Assign user:
                        </label>
                        <select ng-model="newTaskVm.task.assigned" ng-options="user._id as user.profile.fullname for user in
                                            newTaskVm.users" name="assign">
                        </select>
                    </fieldset>

                    <!-- Title -->
                    <fieldset id="title" class="fsStyle field-wrapper last">
                        <div class="title-wrapper">
                            <label class="label-modal">Title</label>
                            <input type="text" ng-model="newTaskVm.task.title" placeholder="Add title here..." name="title" required />
                        </div>
                    </fieldset>

                    <!-- Description -->
                    <fieldset id="title" class="fsStyle">
                        <div class="description-wrapper">
                            <label class="label-modal">Description</label>
                            <div text-angular ng-model="newTaskVm.output"
                            class="description" ta-toolbar="[['h1','h2','h3','pre'],['bold','italics', 'underline', 'strikeThrough', 'ul', 'ol', 'clear'],['html', 'insertImage', 'insertLink']]"></div>
                        </div>
                    </fieldset>

                    <!-- Footer buttons -->
                    <div class="btn-wrapper">
                        <button id="acceptBtn" class="vst-btn vst-btn-primary"
                                ng-click="newTaskVm.accept(newTaskForm.$valid)">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
