<button type="button" class="btn btn-info btn-md" data-toggle="modal" 
            data-target="#newTaskModal" data-backdrop="false" ng-click="newTaskVm.openModal()">
    New Task
</button>
{{output.a}}
<!-- Modal -->
<div class="modal fade" id="newTaskModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>New Task</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <br />
                    <fieldset id="project">
                        <label class="label label-default">Project</label>
                        <select ng-model="newTaskVm.task.project" 
                                ng-options="project as project.name for project in newTaskVm.projects">
                            <option>Choose project...</option>
                        </select>
                        <label class="label label-default" ng-show="!!newTaskVm.task.project">Sprint</label>
                        {{newTaskVm.task.project.sprint}}
                    </fieldset>
                    <br />
                    <fieldset id="module">
                        <label class="label label-default">Module</label>
                        <select ng-model="newTaskVm.task.module">
                            <option selected="selected">Choose module...</option>
                            <option ng-repeat="module in newTaskVm.task.project.modules">
                                {{module}}
                            </option>
                        </select>
                    </fieldset>
                    <br /> 
                    <fieldset id="type">
                        <label class="label label-default">Type</label>
                        <select ng-model="newTaskVm.task.type">
                            <option ng-repeat="type in newTaskVm.taskTypes.value">
                                {{type}}
                            </option>
                        </select>
                    </fieldset>
                    <br />
                    <fieldset id="priority">
                        <label class="label label-default">Priority</label>
                        <select ng-model="newTaskVm.task.priority">
                            <option ng-repeat="priority in newTaskVm.taskPriority.value">
                                {{priority}}
                            </option>
                        </select>
                    </fieldset>
                    <br />
                    <fieldset id="title" class="fsStyle">
                        <label class="label label-default">Title</label>
                        <input type="text" ng-model="newTaskVm.task.title" />
                    </fieldset>
                    <br />
                    <fieldset id="title" class="fsStyle">
                        <label class="label label-default">Description</label>
                        <drag-and-drop output="newTaskVm.output"></drag-and-drop>
                    </fieldset>                     
                    <br>
                    <fieldset id="assign">
                        <label class="label label-default">
                            Assign people
                        </label>
                        <select ng-model="newTaskVm.assigned" 
                                ng-change="newTaskVm.userAssigned()"
                                ng-options="user.profile.fullname for user in 
                                            newTaskVm.users">
                        </select>
                    </fieldset>
                    <br>  
                    <pill read-only="true" 
                          ng-model="newTaskVm.selectedUsers"></pill>
                    <br>  
                    <button id="acceptBtn" class="btn btn-success" 
                            ng-click="newTaskVm.accept()">Click</button>
                    <button id="cancelBtn" class="btn btn-danger" 
                            ng-click="newTaskVm.cancel()">Cancel</button>
                </form>                
            </div>
        </div>
    </div>
</div>