<button type="button" class="vst-btn" data-toggle="modal" 
    data-target="#{{$ctrl.entity}}-reasonModal">
    {{$ctrl.entity}}
</button>

<div class="modal fade" id="{{$ctrl.entity}}-reasonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    First {{$ctrl.entity}}
                </h4>
            </div>

            <div class="modal-body" ng-if="!$ctrl.hideReason">
                <div>
                    This will cause change of the status to {{$ctrl.getStatusName()}}. From this moment new Reviews can't be added.
                </div>
            </div>

            <div class="modal-footer">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                        ng-model="$ctrl.votingCb"
                        ng-true-value="{{$ctrl.entityVoteId()}}"/>
                        Start voting for this decission
                    </label>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.reason = ''">
                    Cancel
                 </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="$ctrl.action()">
                    Create {{$ctrl.entity}}
                </button>
            </div>
        </div>
    </div>
</div>
