<button type="button" class="vst-btn" data-toggle="modal" 
    data-target="#{{$ctrl.status}}-reasonModal" ng-hide="$ctrl.hide">
        <span class="glyphicon glyphicon-{{$ctrl.icon}}"></span>
        {{$ctrl.statusVerb()}}
</button>

<div class="modal fade" id="{{$ctrl.status}}-reasonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Are you sure you want to {{$ctrl.statusVerb().toLowerCase()}} the Idea ?
                </h4>
            </div>

            <div class="modal-body" ng-if="!$ctrl.hideReason">
                <textarea cols="30" rows="10" placeholder="Add Reason here..." ng-model="$ctrl.reason" class="form-control"></textarea>
            </div>

            <div class="modal-footer">
                <div class="checkbox" ng-hide="$ctrl.hideVoting">
                    <label>
                        <input type="checkbox"
                        ng-model="$ctrl.votingCb"
                        ng-true-value="{{$ctrl.status}}"
                        ng-disabled="!!$ctrl.ideaVoting"/>
                        Start voting for this decission
                    </label>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.reason=null; $ctrl.votingCb=null">
                    Cancel
                 </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="$ctrl.changeStatus()">
                    {{$ctrl.statusVerb()}}
                </button>
            </div>
        </div>
    </div>
</div>
