<div class="VST-view-container">

    <!-- Idea header -->

    <section class="VST-view-header row">
        <div class="logo-wrapper">
            <img src="/images/icon-Idea.png" alt="Idea main icon" />
            <h1>idea</h1>
        </div>
        <header>
            <!-- Project path -->
            <div class="project-path">
                <h3 id="project">{{$ctrl.idea.projectName()}}<span class="project-badge">v</span>Vesta</h3>
                <h3 id="module">{{$ctrl.idea.moduleName()}}</h3>
                <h3>Klasa</h3>
            </div>
            <!-- Buttons -->
            <div class="buttons">
                <!-- Create new task -->
                <new-task title="Create task" module="{{$ctrl.idea.module}}"
                          project="{{$ctrl.idea.projectId}}"></new-task>
                <!-- Button trigger modal -->
                <button type="button" class="btn-V btn-V-default"
                        data-toggle="modal" data-target="#deleteIdeaModal">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <!-- DELETE Modal -->
                <div class="modal fade" id="deleteIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Remove Idea</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this idea ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.removeIdea()">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <!-- Idea description -->

    <section class="VST-view-content row">
        <header>
            <p>Title:</p>
            <h4>[{{$ctrl.idea.number}}] {{$ctrl.idea.title}}
                <!-- Idea status -->
                <div class="idea-status-wrapper dropdown">
                    <button class="idea-status idea-status-Rejected dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">rejected</button>
                    <ul class="dropdown-menu">
                        <li class="idea-status idea-status-New">new</li>
                        <li class="idea-status idea-status-Consider">conside</li>
                        <li class="idea-status idea-status-Implemented">implemented</li>
                        <li class="idea-status idea-status-Rejected">rejected</li>
                    </ul>
                </div>
            </h4>
            <div class="VST-view-addDate">05.05.2016</div>
        </header>
        <!-- Description wrapper -->
        <div class="VST-view-desc-wrapper">
            <!-- Buttons -->
            <div class="btn-group-desc" ng-switch="$ctrl.descriptionEdited">
                <button type="button" name="button" class="btn-edit"
                        ng-switch-when="false" ng-click="$ctrl.editDescription()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" name="button" class="btn-save"
                        ng-switch-when="true" ng-click="$ctrl.saveDescription()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </div>
            <!-- Description -->
            <div text-angular ng-model="$ctrl.idea.description"
                 ta-disabled="!$ctrl.descriptionEdited" class="description"></div>
            <!-- Reviewers -->
            <div class="info-box">
                <pill ng-repeat="reviewer in $ctrl.reviewers"
                      value="reviewer"
                      read-only="!$ctrl.descriptionEdited"></pill>
                <select ng-model="$ctrl.reviewer"
                        ng-change="$ctrl.reviewerSelected()"
                        ng-options="user.profile.fullname for user in
                                        $ctrl.users"
                        ng-hide="$ctrl.users.length < 1">
                </select>
            </div>
        </div>
    </section>

    <!-- Idea Reviews -->
    <ng-include src="'imports/components/ideas/idea/review.html'"></ng-include>
</div>
