<div class="VST-view-container VST-idea-container">

    <!-- Idea header -->
    <section class="VST-view-header">
        <div class="logo-wrapper">
            <img src="/images/icon-Idea.png" alt="Idea main icon" />
            <h1 class="idea-color">idea</h1>
        </div>
        <header>


        </header>
    </section>

    <!-- Idea description -->
    <section class="VST-view-content">
        <section class="VST-view-desc">
            <!-- Number -->
            <div class="VST-view-number">
                <span class="VST-module-id">#{{$ctrl.idea.id}}</span>
                <span class="VST-module-date"><span>creted at</span> {{$ctrl.moment($ctrl.idea.creationDate).toDate() | date:
                'dd.MM.yy'}}
                </span>
            </div>

            <!-- Project path -->
            <div class="VST-view-project-path">
                <h3 id="project"><span class="project-badge">v</span>{{$ctrl.idea.projectName()}}</h3>
                <h3 id="module">{{$ctrl.idea.moduleName()}}</h3>
            </div>

            <header>
                <p>Title:</p>
                <h4>
                    <span style="background: rgba(161,134,190,0.2); padding: 2px 5px;
                                    color: rgba(161,134,190,1); font-weight:700; font-weight: 700;
                                    font-size: 0.5em; margin-right: 7px;">
                        {{$ctrl.idea.number}}
                    </span> {{$ctrl.idea.title}}
                </h4>
            </header>

            <!-- Description wrapper -->
            <div class="VST-view-desc-wrapper">
                <!-- Buttons -->
                <div class="btn-group-desc" ng-switch="$ctrl.descriptionEdited">
                    <button type="button" name="button" class="btn-edit" ng-switch-when="false" ng-click="$ctrl.editDescription()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" name="button" class="btn-save" ng-switch-when="true" ng-click="$ctrl.saveDescription()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <!-- Description -->
                <div text-angular ng-model="$ctrl.idea.description" ta-disabled="!$ctrl.descriptionEdited" class="description" 
                    ta-toolbar="{{$ctrl.descriptionToolbar}}"></div>
            </div>
            <!-- Buttons -->
            <div class="buttons">
                <div class="VST-btn-group VST-btn-group-menu">

                    <!-- Reopen Idea -->
                    <reason-modal status="6" icon="repeat"
                        ng-if="$ctrl.idea.status === 5"
                        idea-id="{{$ctrl.idea._id}}"                        
                        idea-voting="{{$ctrl.idea.voting}}">
                    </reason-modal>

                    <!-- Reject Idea -->
                    <reason-modal status="4" 
                        icon="remove" idea-id="{{$ctrl.idea._id}}"                        
                        idea-voting="{{$ctrl.idea.voting}}">
                    </reason-modal>

                    <!-- Defer Idea -->
                    <reason-modal status="5" 
                        icon="hourglass" idea-id="{{$ctrl.idea._id}}"                       
                        idea-voting="{{$ctrl.idea.voting}}">
                    </reason-modal>

                    <!-- Close Idea -->
                    <reason-modal status="3" hide-reason="true"
                        idea-id="{{$ctrl.idea._id}}"                        
                        idea-voting="{{$ctrl.idea.voting}}">
                    </reason-modal>                  
                </div>

                <div class="VST-btn-group VST-btn-group-create">
                    <span ng-if="$ctrl.idea.reason.length > 0">
                        REASON: {{$ctrl.idea.reason}}
                    </span>

                    <!-- Create New Task -->
                    <new-task title="Create task" parent-module="{{$ctrl.idea.module}}" parent-project="{{$ctrl.idea.project}}" parent-title="{{$ctrl.idea.title}}"
                        parent-sprint="$ctrl.idea.sprint" idea-id="{{$ctrl.idea._id}}" alt-id="0" ng-if="$ctrl.idea.status === 2 ||
                            $ctrl.idea.status === 6 ||
                            $ctrl.idea.status === 7 ||
                            $ctrl.idea.status === 8">
                    </new-task>

                    <!-- Create New Idea -->
                    <new-idea title="Sub-Idea" module="{{$ctrl.idea.module}}" project="{{$ctrl.idea.project}}" idea-id="{{$ctrl.idea._id}}" idea-title="{{$ctrl.idea.title}}"
                        alt-id="0" sprint="$ctrl.idea.sprint" reviewers="$ctrl.idea.reviewers">
                    </new-idea>

                    <!-- Create New Ask -->
                    <new-ask module="{{$ctrl.idea.module}}" project="{{$ctrl.idea.project}}" idea-id="{{$ctrl.idea._id}}" idea-title="{{$ctrl.idea.title}}"
                        sprint="$ctrl.idea.sprint" alt-id="0" ng-if="$ctrl.idea.status === 6">
                    </new-ask>
                </div>
            </div>
        </section>

        <!-- Info box -->
        <section class="VST-view-info-box">
            <!-- Idea status -->
            <div class="idea-status idea-status-{{$ctrl.idea.getStatusName()}}" type="button">
                {{$ctrl.idea.getStatusName()}}
            </div>
            <!-- Reviewers -->
            <div class="reviewers-box">
                <pill ng-repeat="reviewer in $ctrl.reviewers" value="reviewer" read-only="!$ctrl.descriptionEdited"></pill>
                <select ng-model="$ctrl.reviewer" ng-change="$ctrl.reviewerSelected()" ng-options="user.profile.fullname for user in
                                    $ctrl.users" ng-hide="$ctrl.users.length < 1">
                </select>
            </div>
            <p>
                Creator: {{$ctrl.idea.creator()}}
            </p>
            <p ng-if="$ctrl.idea.sprint !== -1">
                Sprint {{$ctrl.idea.sprint}}
            </p>

            <!--Sprint-->
            <fieldset id="sprint" class="field-wrapper">
                <label class="label-modal">Sprint:</label>
                <select ng-model="$ctrl.sprint" name="sprint" ng-options="sprint as sprint for sprint in $ctrl.project.sprints" ng-change="$ctrl.setSprint($ctrl.sprint)">
                </select>
            </fieldset>
        </section>
    </section>

    <!-- Active Voting -->
    <section ng-if="$ctrl.pendingVoting">
        <ng-include src="'imports/components/ideas/idea/_activeVoting.html'"></ng-include>  
    </section>

    <!-- Related List -->
    <div class="VST-table-wrapper">
        <ng-include src="'imports/components/ideas/idea/_relatedList.html'"></ng-include>  
    </div>

    <section class="VST-view-additional">
        <!-- Idea Reviews -->
        <ng-include src="'imports/components/ideas/idea/_review.html'" class="VST-view-discussion"></ng-include>
        <!-- Idea Branches -->
        <section class="VST-view-branches">

        </section>
    </section>
</div>
