.idea-content > .wrapper{
    background: #ddd;
}
.reviewer{
    font-size: 16px; 
    text-align: center;
}
.reviewer-avatar{
    width:50px; height:50px; 
    background: #ddd; 
    border-radius: 50%; 
    margin:auto;
}