<div class="VST-view-container VST-idea-container">

    <!-- Idea header -->

    <section class="VST-view-header">
        <div class="logo-wrapper">
            <img src="/images/icon-Idea.png" alt="Idea main icon" />
            <h1 class="idea-color">idea</h1>
        </div>
        <header>


        </header>
    </section>

    <!-- Idea description -->
    <section class="VST-view-content">
        <section class="VST-view-desc">
            <!-- Number -->
            <div class="VST-view-number">
                <span class="VST-module-id">#{{$ctrl.idea.id}}</span>
                <span class="VST-module-date"><span>creted at</span> {{$ctrl.idea.creationDate | date: 'dd.MM.yy'}}</span>
            </div>

            <!-- Project path -->
            <div class="VST-view-project-path">
                <h3 id="project">{{$ctrl.idea.projectName()}}<span class="project-badge">v</span>Vesta</h3>
                <h3 id="module">{{$ctrl.idea.moduleName()}}</h3>
            </div>

            <header>
                <p>Title:</p>
                <h4>[{{$ctrl.idea.number}}] {{$ctrl.idea.title}}</h4>
            </header>

            <!-- Description wrapper -->
            <div class="VST-view-desc-wrapper">
                <!-- Buttons -->
                <div class="btn-group-desc" ng-switch="$ctrl.descriptionEdited">
                    <button type="button" name="button" class="btn-edit" ng-switch-when="false" ng-click="$ctrl.editDescription()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" name="button" class="btn-save" ng-switch-when="true" ng-click="$ctrl.saveDescription()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <!-- Description -->
                <div text-angular ng-model="$ctrl.idea.description" ta-disabled="!$ctrl.descriptionEdited" class="description" ta-toolbar="[['h1','h2','h3','pre'],['bold','italics', 'underline', 'strikeThrough', 'ul', 'ol', 'clear'],['html', 'insertImage', 'insertLink']]"></div>
            </div>
            <!-- Buttons -->
            <div class="buttons">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" ng-if="$ctrl.idea.status === 'Deferred'" ng-click="$ctrl.setStatus('Consider')">
                        Reopen
                </button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" ng-if="$ctrl.changeStatusBtnsVisibility('Reject')" data-toggle="modal" data-target="#rejectIdeaModal">
                        Reject
                </button>

                <!-- Reject Modal -->
                <div class="modal fade" id="rejectIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Are you sure you want to reject the Idea ?</h4>
                            </div>
                            <div class="modal-body">
                                <textarea cols="30" rows="10" placeholder="Add Reason here..." ng-model="$ctrl.reason"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.reason = ''">Cancel</button>
                                <button type="button" class="btn btn-danger" ng-click="$ctrl.setStatus('Rejected')" data-dismiss="modal">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-warning" ng-if="$ctrl.changeStatusBtnsVisibility('Defer')" data-toggle="modal" data-target="#deferIdeaModal"
                    type="button">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    Defer
                </button>
                <!-- Defer Modal -->
                <div class="modal fade" id="deferIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Are you sure you want to defer the Idea ?</h4>
                            </div>
                            <div class="modal-body">
                                <textarea cols="30" rows="10" placeholder="Add Reason here..." ng-model="$ctrl.reason"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.reason = ''">Cancel</button>
                                <button type="button" class="btn btn-warning" ng-click="$ctrl.setStatus('Deferred')" data-dismiss="modal">
                                    Defer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success" ng-if="$ctrl.changeStatusBtnsVisibility('Close')" data-toggle="modal" data-target="#closeIdeaModal"
                    type="button">
                    Close
                </button>
                <!-- Close Modal -->
                <div class="modal fade" id="closeIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Close Idea</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to close this idea ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-success" ng-click="$ctrl.setStatus('Closed')" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create new task -->
                <new-task title="Create task" module="{{$ctrl.idea.module}}" project="{{$ctrl.idea.projectId}}" idea-id="{{$ctrl.idea._id}}"
                    idea-title="{{$ctrl.idea.title}}" alt-id="0" sprint="$ctrl.idea.sprint" ng-if="$ctrl.idea.status === 'Consider' ||
                                 $ctrl.idea.status === 'Implemented' ||
                                 $ctrl.idea.status === 'Discussed'">
                </new-task>
                <!-- Create new ask -->
                <new-ask module="{{$ctrl.idea.module}}" project="{{$ctrl.idea.projectId}}" idea-id="{{$ctrl.idea._id}}" idea-title="{{$ctrl.idea.title}}" sprint="$ctrl.idea.sprint"
                    alt-id="0" ng-if="$ctrl.idea.status === 'Consider'">
                </new-ask>

                <!-- Button trigger modal -->
                <button type="button" class="VST-btn VST-btn-default" data-toggle="modal" data-target="#deleteIdeaModal">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <!-- DELETE Modal -->
                <div class="modal fade" id="deleteIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Remove Idea</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this idea ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.removeIdea()">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Info box -->
        <section class="VST-view-info-box">
            <!-- Reviewers -->
            <div class="reviewers-box">
                <pill ng-repeat="reviewer in $ctrl.reviewers" value="reviewer" read-only="!$ctrl.descriptionEdited"></pill>
                <select ng-model="$ctrl.reviewer" ng-change="$ctrl.reviewerSelected()" ng-options="user.profile.fullname for user in
                                    $ctrl.users" ng-hide="$ctrl.users.length < 1">
                </select>
            </div>
            <p>
                Creator: {{$ctrl.idea.creator()}}
            </p>
            <p>
                Sprint {{$ctrl.idea.sprint}}
            </p>

            <!--Sprint-->
            <fieldset id="sprint" class="field-wrapper">
                <label class="label-modal">Sprint:</label>
                <select ng-model="$ctrl.sprint" name="sprint" ng-options="sprint as sprint for sprint in $ctrl.project.sprints" ng-change="$ctrl.setSprint()">
                </select>
            </fieldset>

            <!-- Idea status -->
            <div class="idea-status idea-status-{{$ctrl.idea.status}}" type="button">
                {{$ctrl.idea.status}}
            </div>
        </section>
    </section>

    <!-- Related Tasks -->
    <div class="VST-table-wrapper">
        <table class="table">
            <thead>
                <tr ng-if="$ctrl.tasks.length + $ctrl.asks.length > 0">
                    <th>Relation</th>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in $ctrl.tasks" ng-click="$ctrl.goDetails('task', task.number)" style="cursor: pointer;">
                    <td>Working in</td>
                    <td>{{task.number}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.status}}</td>
                </tr>
                <tr ng-repeat="ask in $ctrl.asks" ng-click="$ctrl.goDetails('ask', ask.number)" style="cursor: pointer;">
                    <td>Discussion in</td>
                    <td>{{ask.number}}</td>
                    <td>{{ask.title}}</td>
                    <td>{{ask.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Idea Reviews -->
    <ng-include src="'imports/components/ideas/idea/review.html'"></ng-include>
</div>