<table class="table">
    <caption class="idea-caption">Asks</caption>
    <thead>
        <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Number</th>
            <th>Created By</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ask in $ctrl.asks|
                orderBy: ['-creationDate']">
            <td>
                <span class="module-badge module-badge-ask">
                    <img src="/images/icon-Ask-small.png" alt="Ask main icon" />
                </span>
                <a href="#/ask/{{ask.number}}">
                    <span class="project-badge" data-toggle="tooltip"
                          title="{{ask.projectName()}}">
                            {{ask.projectName()[0].toUpperCase()}}
                    </span>
                </a>
            </td>
            <td>
                <a href="#/ask/{{ask.number}}">
                    <span ng-if="ask.isNew" style="color: #2cd64a; font-size: .7em; font-weight: 700;">FRESH</span> {{ask.title}}
                </a>
            </td>
            <td>
                <a href="#/ask/{{ask.number}}" style="color: rgb(161,134,190); font-weight:700;">
                    <span style="background: rgba(161,134,190,0.2); padding: 2px 7px;">
                        {{ask.number}}
                    </span>
                </a>
            </td>
            <td data-toggle="tooltip" title="{{ask.creator()}}">
                <a href="#/ask/{{ask.number}}">
                    {{ask.creatorShort()}}
                </a>
            </td>
            <td>
                <a href="#/ask/{{ask.number}}">
                    {{$ctrl.moment(ask.creationDate).fromNow()}}
                </a>
            </td>
        </tr>
    </tbody>
</table>
